.btn-login {
    color: #fff;
    outline: none;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    background: #e27c00;
    border-color: #e27c00;
    font-weight: bold;
    font-size: 12px;
    padding: 15px 30px;
    width: auto;
}
.btn-login:hover {
    color: #e27c00;
    background: white;
    border-color: #e27c00;
}
.btn-login:focus {
    color: #e27c00;
    background: white;
    border-color: #e27c00;
    box-shadow: none;
}
.btn-login:active {
    color: #e27c00;
    background: white;
    border-color: #e27c00;
}
.btn-register {

    color: #fff;
    outline: none;
    height: auto;
    text-transform: uppercase;
    padding: 15px 10px;

    max-width: 100%;
}
.btn-register:hover {
    border-color: #fcd315;
}
.btn-register:focus {
    border-color: #fcd315;
}
.btn-register:hover {
    background-color: #ffe426;
    color: #fff;
}
.btn-register:focus {
    background-color: #ffe426;
    color: #fff;
}
.btn-register:active {
    background-color: #ffe426 !important;
    color: #fff;
}
.btn-yellow {
    outline: none;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
}
.naglowek_logowanie {
    color: #666666;
    font-weight: bold;
    font-size: 18px;
}
body.logowanie_layout {
    background-color: #d9dce1;
}
.logowanie_layout .well.login-reg-form {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #d9dce1;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.logowanie_layout a {
    color: black;
}
.logowanie_layout a.btn {
    color: #fff;
}
.logowanie_layout .well.login-reg-form {
    height: auto;
}
body {
    padding-top: 20px;
}
.panel-login {
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.panel-login > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}
.panel-login > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login > .panel-heading a.active {
    color: #fcd315;
    font-size: 18px;
}
.panel-login > .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}
.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.forgot-password {
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}
/*# sourceMappingURL=logowanie.css.map */