/*
podejmij_decyzje.less
*/
.niezalogowany_uzytkownik .dla_zalogowanego {
  display: none;
}
.zalogowany_uzytkownik .dla_niezalogowanego {
  display: none;
}
.bootbox .grecaptcha-badge {
  display: none;
}
/*
*decyzje.less
*/
.werdykt,
.po_pierwszym_wywolaniu {
  display: none;
}
/*
*loader.less
*/
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
*czarny_szablon.less
*/
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
a {
  color: #e27c00;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
a:hover,
a:focus {
  color: gray;
  text-decoration: none!important;
}
hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}
hr.light {
  border-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
section {
  padding: 30px 0;
}
section h2 {
  font-size: 50px;
}
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
#mainNav .navbar-brand {
  color: #fdcc52;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: #fcbd20;
}
#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}
#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}
#mainNav .navbar-nav > li > a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}
#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}
#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}
#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover,
  #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover,
  #mainNav.navbar-shrink .navbar-brand:focus {
    color: #fdcc52;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
  }
}
header.masthead {
  position: relative;
  width: 100%;
  color: white;
  background: url("../img/bg-pattern.png"), #7b4397;
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to bottom, #004700, #77b306);
  background: url(../img/chess-2730034_1280.jpg), black;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
header.masthead .header-content {
  margin-bottom: 30px;
  text-align: center;
}
header.masthead .header-content h1 {
  font-size: 30px;
}
header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}
header.masthead .device-container .screen img {
  border-radius: 3px;
}
@media (min-width: 992px) {
  header.masthead {
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}
section.download {
  position: relative;
  padding: 150px 0;
}
section.download h2 {
  font-size: 50px;
  margin-top: 0;
}
section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}
section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}
section.download .badges .badge-link img {
  height: 60px;
}
@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  section.download h2 {
    font-size: 70px;
  }
}
section.features .section-heading {
  margin-bottom: 100px;
}
section.features .section-heading h2 {
  margin-top: 0;
}
section.features .section-heading p {
  margin-bottom: 0;
}
section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto;
}
section.features .device-container {
  margin-bottom: 100px;
}
@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}
section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
section.features .feature-item h3 {
  font-size: 30px;
}
section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/bg-cta.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.cta .cta-content {
  position: relative;
  z-index: 1;
}
section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}
@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}
section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
section.contact {
  text-align: center;
}
section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
section.contact h2 i {
  color: #dd4b39;
}
section.contact ul.list-social {
  margin-bottom: 40px;
}
section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}
section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}
section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}
section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}
section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}
section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}
section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}
footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: black;
}
footer p {
  font-size: 12px;
  margin: 0;
}
footer ul {
  margin-bottom: 0;
}
footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}
body section.contact {
  background: black!important;
  background-color: black!important;
  color: white;
}
.text-primary {
  color: #e27c00!important;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  border-color: #e27c00;
  background-color: #e27c00;
}
.btn {
  border-radius: 10px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}
.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}
.col-lg-12 .opis {
  margin: 0 auto;
  margin-top: 60px;
}
.pole1 {
  padding: 20px 15px;
  background: #ffd842;
  -webkit-box-shadow: 0px 0px 25px 15px rgba(33, 33, 33, 0.7);
  box-shadow: 0px 0px 25px 15px rgba(33, 33, 33, 0.7);
  background: transparent;
}
.opis2 {
  margin: 0 auto;
  text-align: center;
}
.decyzja {
  margin: 30px auto;
  text-align: center;
  background: #e27c00;
  border-color: #e27c00;
  font-weight: bold;
  font-size: 12px;
  padding: 15px 30px;
}
.decyzja-nie {
  margin: 30px;
  text-align: center;
  background: #bb0000;
  border-color: #bb0000;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 30px;
}
.decyzja-tak {
  margin: 30px;
  text-align: center;
  background: #004700;
  border-color: #004700;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 30px;
}
.opis3 {
  margin: 45px;
  text-align: right;
  margin-right: 10px;
}
.opis3 i {
  margin-left: 10px;
}
.opis4 {
  margin: 45px;
  text-align: left;
  margin-left: 10px;
}
.decyzja-nie:hover,
.decyzja-nie:focus,
.decyzja-nie:active {
  color: #bb0000!important;
  background: white!important;
  border-color: #bb0000!important;
}
.decyzja-tak:hover,
.decyzja-tak:focus,
.decyzja-tak:active {
  color: #004700!important;
  background: white!important;
  border-color: #004700!important;
}
.decyzja:hover,
.decyzja:focus,
.decyzja:active {
  color: #e27c00!important;
  background: white!important;
  border-color: #e27c00!important;
  box-shadow: 0 0 12px 1px #e27c00!important;
}
.ukryty {
  display: none;
}
.table td {
  border: none!important;
}
.decyzja-historia {
  margin: 0px;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 3px;
}
.table tr {
  border-bottom: 1px solid;
}
.table tr:last-child {
  border: none;
}
.wiadomosc textarea {
  min-height: 96px;
}
.tekst-lewy {
  text-align: left;
}
.tekst-prawy {
  text-align: right;
}
.podkreslenie {
  border-bottom: 1px dotted grey;
  padding: 8px;
  margin: 0px;
}
.decyzja-szczeoly {
  margin: 0px;
}
.podkreslenie:last-child {
  border: none;
}
.waga .btn {
  border-radius: 3px;
}

.waga_decyzji {
  padding: 2px;
  text-align: center;
      min-width: 25px;
}
.szczegoly{
	cursor: pointer;
}

.ankieta{
	cursor: pointer;
}

.takczynie {
  text-align: center;
}
input.error {
  border-color: red;
}
.grecaptcha-badge {
  z-index: 100!important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.bootstrap-touchspin-up {
  z-index: 0!important;
}
.bootstrap-touchspin-down {
  z-index: 0!important;
}
.logo-logowanie {
  text-align: center;
}
.logowanie-modul {
  width: 50%;
  margin: 0 auto;
  width: 50%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.zapisz_decyzje {
  margin: 45px;
  text-align: left;
  margin-right: 10px;
}
#ciacho_komunikat {
  position: fixed;
  bottom: 20px;
  background: white;
  border: 1px solid;
  border-color: gray;
  box-shadow: 0px 0px 10px 2px grey;
  border-radius: 4px;
  padding: 10px;
  margin: 0px 30px;
  width: 600px;
  right: 1px;
  z-index: 1000;
}
#ciacho_komunikat.ukryte {
  display: none;
}
.ciastka_info {
  text-align: center;
  background: #e27c00;
  border-color: #e27c00;
  font-size: 12px;
  color: white;
}

.panel-heading hr{
	max-width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

body section.polityka {
    background: url(../img/bg-pattern.png), white!important;
    background-color: white!important;
    color: black;
}

/*# sourceMappingURL=style_czarny.css.map */