<div id="parametry_modala" data-title="<?php echo $this->_translate("Edytuj tłumaczenie", '"', 2227); ?>">

    <form>
	<input type="hidden" name="tlumaczenie_nr" value="<?php echo $this->nr; ?>">
	<label class="form-control"><?php echo $this->tlumaczenie_slownik->tlumaczenie->oryginalny_tekst; ?></label>
	<label class="form-control"><?php echo $this->tlumaczenie_slownik->getTekst(); ?></label>
	<input class="form-control" name="tekst" value="<?php echo $this->tlumaczenie_slownik->tekst; ?>">
    </form>

</div>
<?php
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/pastmo/tlumaczenia/modal_edycji_tlumaczenia.js'),
	'ModalEdycjiTlumaczenia');
