<?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::EDYCJA__TEKSTOW_TLUMACZEN)): ?>


    <button id="przycisk_trybu_tlumaczen_on" class="btn btn-primary">
	<?php echo $this->_translate("Włącz tryb tłumaczeń", false, 9); ?>
    </button>
    <button id="przycisk_trybu_tlumaczen_off" class="btn btn-primary">
	<?php echo $this->_translate("Wyłącz tryb tłumaczeń", false, 10); ?>
    </button>


<?php endif; ?>