<form id="zmiana_aktualnego_slownika">
    <div class="form-group">
	<div class="controls">
	    <label>
		<?php echo $this->_translate("Język", false, 2228); ?>
		<select name="slownik_id" class="form-control">

		    <?php foreach ($this->dostepne_slowniki as $slownik): ?>
    		    <option
    			value="<?php echo $slownik->id; ?>"
			    <?php $this->selected($this->uzytkownik->slownik->id, $slownik->id); ?>
    			>
				<?php $this->echo($slownik->nazwa); ?>
    		    </option>
		    <?php endforeach; ?>
		</select>
	    </label>
	</div>
    </div>
    <div class="form-actions">
	<button type="button" class="btn btn-primary zapis"><?php echo $this->_translate("Zapisz", false, 2229); ?></button>
    </div>
</form>
