<!DOCTYPE html>
<html  class="<?php echo $this->zalogowanyUser() ? "zalogowany_uzytkownik" : "niezalogowany_uzytkownik"; ?>">
    <head>
	<?php echo $this->wyswietlGoogleAnalizy(); ?>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Podejmij Decyzję</title>

	<?php echo $this->partial('layout/style.phtml'); ?>
	<link href="<?php echo $this->basePath('css/logowanie.css'); ?>" rel="stylesheet">

    </head>
    <body class="cremini">
	<div class="container">
	    <div class="row ">
		<div class="col-lg-12 logo-logowanie">
		    <div class="header-content ">
			 <a href="<?php echo $this->url('home'); ?>">
			    <img src="<?php echo $this->basePath('img/logo.png'); ?>" style="width:50%">
			</a>
		    </div>
		</div>
	    </div>

	    <div class="row">
		<div class="col-lg-12">
		    <div class="header-content logowanie-modul">
			<?php echo $this->content; ?>
		    </div>
		</div>
	    </div>
	</div>

    </body>

    <?php echo $this->partial('layout/skrypty_js.phtml'); ?>
    <script type="text/javascript" src="<?php echo $this->basePath('js/logowanie/logowanie.js'); ?>"></script>

</html>