<?php echo $this->doctype(); ?>

<html lang="pl">


    <head>
        <meta charset="utf-8">
		<?php echo $this->headTitle('Panel Iskra') ?>

		<?php
		echo $this->headMeta()
				->appendName('viewport', 'width=device-width, initial-scale=1.0')
				->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
		?>

        <!-- Le styles -->
		<link href="<?php echo $this->basePath('css/bootstrap.css'); ?>" rel="stylesheet">
		<link href="<?php echo $this->basePath('css/bootstrap-responsive.css'); ?>" rel="stylesheet">
		<link href="<?php echo $this->basePath('bower_components/metisMenu/dist/metisMenu.min.css'); ?>" rel="stylesheet">
		<link href="<?php echo $this->basePath('css/timeline.css'); ?>" rel="stylesheet">
		<link href="<?php echo $this->basePath('css/sb-admin-2.css'); ?>" rel="stylesheet">
		<link href="<?php echo $this->basePath('bower_components/morrisjs/morris.css'); ?>" rel="stylesheet">
		<link href="<?php echo $this->basePath('bower_components/font-awesome/css/font-awesome.min.css'); ?>" rel="stylesheet">
		<link href="<?php echo $this->basePath('css/panel.css'); ?>" rel="stylesheet">
		<link href="<?php echo $this->basePath('css/bootstrap-wysiwyg.css'); ?>" rel="stylesheet">
		<link href="<?php echo $this->basePath('css/fullcalendar.css'); ?>" rel="stylesheet">
		<link href="<?php echo $this->basePath('css/fullcalendar.print.css'); ?>" rel="stylesheet">
		<?php
//		echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
//				->prependStylesheet($this->basePath('css/bootstrap-wysiwyg.css'))
//				->prependStylesheet($this->basePath('css/panel.css'))
//				->prependStylesheet($this->basePath('bower_components/font-awesome/css/font-awesome.min.css'))
//				->prependStylesheet($this->basePath('bower_components/morrisjs/morris.css'))
//				->prependStylesheet($this->basePath('css/sb-admin-2.css'))
//				->prependStylesheet($this->basePath('css/timeline.css'))
//				->prependStylesheet($this->basePath('bower_components/metisMenu/dist/metisMenu.min.css'))
//				->prependStylesheet($this->basePath('css/bootstrap-responsive.css'))
//				->prependStylesheet($this->basePath('css/bootstrap.css'))
		?>
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">

        <!-- Scripts -->
		<script src="<?php echo $this->basePath('bower_components/jquery/dist/jquery.min.js'); ?>"></script>
		<script src="<?php echo $this->basePath('bower_components/jquery/dist/jquery.validate.js'); ?>"></script>
		<script src="<?php echo $this->basePath('bower_components/jquery/dist/jquery.hotkeys.js'); ?>"></script>
		<script src="<?php echo $this->basePath('js/google-code-prettify/prettify.js'); ?>"></script>
		<script src="<?php echo $this->basePath('bower_components/bootstrap/dist/js/bootstrap.min.js'); ?>"></script>
		<script src="<?php echo $this->basePath('js/bootstrap-wysiwyg.js'); ?>"></script>
		<script src="<?php echo $this->basePath('js/bootstrap-wysiwyg-init.js'); ?>"></script>
		<script src="<?php echo $this->basePath('js/konwersacje.js'); ?>"></script>
		<?php
//		echo $this->headScript()
//				->prependFile($this->basePath('js/konwersacje.js'))
//				->prependFile($this->basePath('js/bootstrap-wysiwyg-init.js'))
//				->prependFile($this->basePath('js/bootstrap-wysiwyg.js'))
//				->prependFile($this->basePath('bower_components/bootstrap/dist/js/bootstrap.min.js'))
//				->prependFile($this->basePath('js/google-code-prettify/prettify.js'))
//				->prependFile($this->basePath('bower_components/jquery/dist/jquery.hotkeys.js'))
//				->prependFile($this->basePath('bower_components/jquery/dist/jquery.validate.js'))
//				->prependFile($this->basePath('bower_components/jquery/dist/jquery.min.js'))

		;
		?>


    </head>
	<body data-zlecenia="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $this->basePath('zlecenia/szczegoly/'); ?>">
		<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="pasek_gorny">
			<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo navbar-brand" href="<?php echo $this->url('home'); ?>">
					<div class="logo_obrazek"><img class="logo_obrazek" src="<?php echo $this->basePath('img/logo.png');?>"/></div>
				</a>
            </div>


            <!-- /.navbar-header -->


            <!-- /.navbar-top-links -->
		</div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">


                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-logowanie-wrapper">


<?php echo $this->content; ?>

                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->


		<!-- </div>/#wrapper -->

		<script src="<?php echo $this->basePath('bower_components/metisMenu/dist/metisMenu.js'); ?>"></script>
		<script src="<?php echo $this->basePath('bower_components/raphael/raphael-min.js'); ?>"></script>
		<script src="<?php echo $this->basePath('bower_components/morrisjs/morris.min.js'); ?>"></script>
		<script src="<?php echo $this->basePath('js/bootstrap-wysiwyg.js'); ?>"></script>
		<script src="<?php echo $this->basePath('js/chowanie_wierszy_w_tabeli.js'); ?>"></script>
		<script src="<?php echo $this->basePath('js/akcje_w_layoucie.js'); ?>"></script>
		<script src="<?php echo $this->basePath('js/sb-admin-2.js'); ?>"></script>
		<script src="<?php echo $this->basePath('bower_components/flot/excanvas.min.js'); ?>"></script>
		<script src="<?php echo $this->basePath('bower_components/flot/jquery.flot.js'); ?>"></script>
		<script src="<?php echo $this->basePath('bower_components/flot/jquery.flot.pie.js'); ?>"></script>
		<script src="<?php echo $this->basePath('bower_components/flot/jquery.flot.resize.js'); ?>"></script>
		<script src="<?php echo $this->basePath('bower_components/flot/jquery.flot.time.js'); ?>"></script>
		<script src="<?php echo $this->basePath('bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js'); ?>"></script>
		<script src="<?php echo $this->basePath('js/moc_hasla/pwstrength-bootstrap.js'); ?>"></script>
		<script src="<?php echo $this->basePath('js/moc_hasla/moc_hasla.js'); ?>"></script>
		<script src="<?php echo $this->basePath('js/moment.min.js'); ?>"></script>
		<script src="<?php echo $this->basePath('js/moment-pl.js'); ?>"></script>
		<?php
		Application\Controller\LadowaczSkryptow::wyswietl();
//	echo $this->inlineScript()
//			->prependFile($this->basePath('js/moc_hasla/moc_hasla.js'))
//			->prependFile($this->basePath('js/moc_hasla/pwstrength-bootstrap.js'))
//			->prependFile($this->basePath('js/przypomnienia/app_przypomnienia.js'))
//			->prependFile($this->basePath('bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js'))
//			->prependFile($this->basePath('bower_components/flot/jquery.flot.time.js'))
//			->prependFile($this->basePath('bower_components/flot/jquery.flot.resize.js'))
//			->prependFile($this->basePath('bower_components/flot/jquery.flot.pie.js'))
//			->prependFile($this->basePath('bower_components/flot/jquery.flot.js'))
//			->prependFile($this->basePath('bower_components/flot/excanvas.min.js'))
//			->prependFile($this->basePath('js/sb-admin-2.js'))
//			->prependFile($this->basePath('js/akcje_w_layoucie.js'))
//			->prependFile($this->basePath('js/chowanie_wierszy_w_tabeli.js'))
//			->prependFile($this->basePath('js/bootstrap-wysiwyg.js'))
//			->prependFile($this->basePath('bower_components/morrisjs/morris.min.js'))
//			->prependFile($this->basePath('bower_components/raphael/raphael-min.js'))
//			->prependFile($this->basePath('bower_components/metisMenu/dist/metisMenu.js'))





		;
		?>

	</body>
</html>
