
<div id="email_body" class="wrapper wrapper-content" data-widok='{}'>
    <?php
    Application\Controller\LadowaczSkryptow::add($this->basePath('js/strony/email.js'));
    if (count($this->uzytkownicy_konta) == 0):

	$this->uzytkownicy_konta = [\Logowanie\Entity\UzytkownikKontoMailowe::create()];

	echo $this->partial('logowanie/logowanie/ustawienia');

    else:
	foreach ($this->uzytkownicy_konta as $uzytkownikKonto):
	    $kontoMailowe = $uzytkownikKonto->konto_mailowe;
	    ?>
	    <div id="kontener_maili" class="row"
		 data-link_wczytywania_strony="<?php
		 echo $this->url('email_ajax', ['action' => 'wczytaj_strone', 'id' => $kontoMailowe->id]);
		 ?>"
		 data-skrzynka="INBOX"
		 data-strona="0"
		 data-rekordow_na_stronie="10"
		 >
		<div class="col-lg-3">
		    <div class="ibox float-e-margins">
			<div class="ibox-content mailbox-content">
			    <div class="file-manager">
				<a class="btn btn-block btn-primary compose-mail" href="mail_compose.html">Nowa wiadomość</a>
				<div class="space-25"></div>
				<h5>Foldery</h5>
				<ul class="folder-list m-b-md  foldery" style="padding: 0">
				    <?php
				    $uk = $this->uzytkownicy_konta;
				    $foldery = $kontoMailowe->getFoldery();
				    foreach ($foldery as $folder):
					break;
					?>
	    			    <li><a href="<?php echo $this->url('email', ['action' => 'index', 'folder' => $folder->nazwa]); ?>"> <i class="fa "></i> <?php echo $folder->nazwa; ?> <span class="label label-warning pull-right ilosc_nieprzeczytanych"></span> </a></li>
				    <?php endforeach; ?>

				</ul>
				<ul id="folder_tmpl" class="hidden" data-ikony='<?php echo \Email\Enumy\IkonyFolderow::wyswietl(); ?>'>
				    <li data-nazwa_fizyczna="">
					<a href="#"> <i class="fa"></i><span class="nazwa"></span> <span class="label label-warning pull-right hidden ilosc_nieprzeczytanych"></span> </a>
				    </li>
				</ul>

				<div class="clearfix"></div>
			    </div>
			</div>
		    </div>
		</div>
		<div class="col-lg-9 animated fadeInRight">
		    <div class="mail-box-header">

			<form method="get" action="index.html" class="pull-right mail-search">
			    <div class="input-group">
				<input type="text" class="form-control input-sm" name="search" placeholder="Wyszukaj email">
				<div class="input-group-btn">
				    <button type="submit" class="btn btn-sm btn-primary">
					Szukaj
				    </button>
				</div>
			    </div>
			</form>
			<h2>
			    <span id="biezacy_folder">-</span> <span id="wszystkie_z_biezacego_folderu"></span> <span id="kontener_nieprzeczytane_z_biezacego_folderu" class="hidden">(<span id="nieprzeczytane_z_biezacego_folderu"></span>)</span>
			</h2>
			<div class="mail-tools tooltip-demo m-t-md">
			    <div class="btn-group pull-right">
				<button class="btn btn-white btn-sm lewa_strzalka"><i class="fa fa-arrow-left"></i></button>
				<button class="btn btn-white btn-sm prawa_strzalka"><i class="fa fa-arrow-right"></i></button>

			    </div>
			    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="<?php echo $this->translate('Odśwież'); ?>"><i class="fa fa-refresh"></i> <?php echo $this->translate('Odśwież'); ?> </button>
			    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="<?php echo $this->translate('Oznacz jako przeczytane'); ?>"><i class="fa fa-eye"></i> </button>
			    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="<?php echo $this->translate('Oznacz jako ważne'); ?>"><i class="fa fa-exclamation"></i> </button>
			    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" tite="<?php echo $this->translate('Przenieś do kosza'); ?>"><i class="fa fa-trash-o"></i> </button>

			</div>
		    </div>
		    <div class="mail-box">

			<table id="tabela_maili" class="table table-hover table-mail">
			    <tbody>

			    </tbody>
			</table>

			<table id="mail_tmpl" class="hidden">
			    <table id="mail_tmpl" class="hidden">
				<tbody>
				    <tr class="read" data-id="">
					<td class="check-mail">
					    <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
					</td>
					<?php $szczegolyAdres = $this->url('email', ['action' => 'szczegoly', 'id' => $kontoMailowe->id]); ?>
					<td class="mail-ontact nadawca"><a class="adres_szczegolow_maila" href="<?php echo $szczegolyAdres;?>">Anna Smith</a></td>
					<td class="mail-subject tytul"><a class="adres_szczegolow_maila" href="<?php echo $szczegolyAdres;?>">Treść wiadomości</a></td>
					<td class="zalacznik"><i class="fa fa-paperclip"></i></td>
					<td class="text-right mail-date data">6.10 AM</td>
				    </tr>
				</tbody>
			    </table>


		    </div>
		</div>
	    </div>
	    <?php
	    break;
	endforeach;
	?>
    <?php endif; ?>
</div>