<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Szczegółowy maila</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-7">
            <div class="panel panel-default">

                <div class="row">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
                            <div class="row">
                                <div class=" users domeny col-xs-12">
                                    <div class="tytul_domeny"><?php echo $email->tytul; ?></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">

                <div class="row">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
                            <div class="row">
                                <div class=" users domeny col-xs-12">

                                    <div class="tytul_domeny">Autor</div>
									<div class="row"><div class="tekst_norm"><?php echo $email->data_naglowka ?></div></div>
                                    <div class="row"><div class="tekst_norm"><?php echo $email->nadawca; ?></div></div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-5">


            <div class="panel panel-default">
                <div class="row">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="tytul_domeny">Informacje</div>
                                <div class="flol marg_right ">Konto mailowe: </div>
                                <div class="tekst_norm "><?php echo $email->konto_mailowe->user; ?></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div class="panel panel-default">
			<div class="row">
				<div class="panel panel-primary ">
					<div class="panel-heading">
						<div class="row">
							<div class=" users domeny col-xs-12">
								<div class="tytul_domeny">Treść</div>
								<div class="tekst_norm"><pre><?php echo $email->tresc; ?></pre></div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
