<div id="poczatkowy" class="row" data-watekdomyslny="<?php echo $this->aktualnyWatek; ?>">
    <div class=" col-lg-12">
        <h1 class="page-header">Poczta</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<?php
if (count($this->uzytkownicy_konta) == 0):

    $this->uzytkownicy_konta = [\Logowanie\Entity\UzytkownikKontoMailowe::create()];

    echo $this->partial('logowanie/logowanie/ustawienia');

else:
    ?>
    <div class="row">
        <div class="col-lg-12">
    	<div id=""></div>
	    <?php if ($this->uprawnienia(Logowanie\Enumy\KodyUprawnien::DOMYSLNE_UPRAWNIENIE)): ?>
		<a id="ustawienia_maili" href="<?php echo $this->url('logowanie', array('action' => 'ustawienia')); ?>" class="btn btn-danger dodaj_dj">Ustawienia email</a>
	    <?php endif; ?>
        </div>
    </div>


    <div class="row">
        <div class="skrzynka_gora col-lg-12">
    	<a href="<?php
	    echo $this->url('email', array('action' => 'index'));
	    ?>">
    	    <div class="skrzynka">Skrzynka odbiorcza</div>
    	</a>
    	<a href="<?php
	echo $this->url('email', array('action' => 'wysylanie', 'id' => $this->nr_aktywnego_konta));
	    ?>">
    	    <div class="skrzynka">Nowa wiadomość</div>
    	</a>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <div class="row">
        <div class="rozmowy col-lg-3">
    	<div class="panel panel-default">

    	    <div class="konwersacje panel-body">
    		<div class="konwersacje_caly list-group" id="mail-list">



    		</div>
		<div id="szablon_tematu" style="display: none">
		    <a id="watek_" href="#" class="nadawca list-group-item selector_watku  nieprzeczytana"><div class="uzytkownik"></div><span class=" text-muted small"><em></em></span></a>

		</div>
    		<!-- /.list-group -->

    	    </div>
    	</div>
        </div>
        <div class="rozmowy col-lg-9">
    	<div class="panel panel-default">

    	    <div class="konwersacje2 panel-body">
    		<div class="konwersacje_caly list-group">

    		    <div class="nadawca1">
    			<div class="uzytkownik tylul_maila"></div>
    			<span class="pull-left text-muted small"><span class="tytul"></span><em>Od: </em><em id="wiadomosci_osoby"></em>
    			</span>
    		    </div>
    		    <div class="rozmowa list-group-item" id="wiadomosci_kontener">

    		    </div>


    		</div>
    		<div id="zalaczniki" class="col-lg-12"
    		     data-wyswietlanie="<?php echo $this->basePath(''); ?>"
    		     data-download="<?php echo $this->url('zasoby', array('action' => 'download')); ?>"
    		     >

    		</div>

    		<div id="wysylanie" class="col-lg-12">

    		    <form id="wysylanie_form" method="POST" enctype="multipart/form-data" action="<?php
	echo $this->url('email', array('action' => 'wyslij', 'id' => 0));
	    ?>">
    			<div class="row">
    			    <div class="col-lg-4">
    				<input id="odbiorca_wysiwyg" type="hidden" class="form-control input-lg  col-lg-12" name="odbiorca" placeholder="Odbiorca mail">
    			    </div>
    			    <div class="col-lg-8">
    				<input id="tytul_wysiwyg" type="hidden" class="form-control input-lg  col-lg-12" name="temat" placeholder="Temat">
    				<input id="tresc" name="tresc" type="hidden">
    			    </div>
    			</div>
    			<div class="row margin-left-none">
    			    <div class="col-xs-12">
				    <?php $this->dodajWysiwyg("#tresc", "#wysylanie_form", $this); ?>
    			    </div>
    			</div>
    			<input class="pliki hide" name="pliki">
    			<div class="dropzone zasoby_upload"
    			     data-desc=".pliki"
    			     data-url="<?php echo $this->url('zasoby', array('action' => "upload")); ?>">
    			    <div class="dz-default dz-message"><span><h1>Tutaj przeciągnij załączniki</h1></span></div>
    			</div>
    			<input type="submit" name="submit" class="btn btn-danger dodaj_dj" value="Wyślij">

    		    </form>


    		</div>
    	    </div>
    	    <!-- /.list-group -->

    	</div>
        </div>
        <div>

	    <?php //echo $this->partial(\Wspolne\Controller\ElementyWidokuController::wyswietlWysiwyg());   ?>
    	<button class="btn btn-danger" style="display:none" id="wiadomosci_wyslij">Wyślij</button>
        </div>
    </div>
<?php endif; ?>

</div>


<?php
$this->inlineScript()
	->prependFile($this->basePath('js/pastmo/emaile/app_wiadomosci.js'))
	->prependFile($this->basePath('js/pastmo/emaile/pobieranie_watkow.js'))
	->prependFile($this->basePath('js/pastmo/emaile/pobieranie_wiadomosci.js'))
	->prependFile($this->basePath('js/pastmo/emaile/wysylanie_wiadomosci.js'))

;
?>
