<div class="row">
	<div class="col-lg-8">
		<div class=" col-lg-12">
			<h1 class="page-header">Utwórz wiadomość</h1>
		</div>
		<form id="wysylanie_form" method="POST" enctype="multipart/form-data" action="<?php
		echo $this->url('email', array('action' => 'wyslij', 'id' => $id));
		?>">
			<div class="row margin-left-none">
				<div class="col-sm-6">
					<input class="form-control input-lg  col-lg-12" name="odbiorca" placeholder="Odbiorca mail">
				</div>
				<div class="col-sm-6">
					<input class="form-control input-lg  col-lg-12" name="temat" placeholder="Temat">
					<input id="tresc" name="tresc" type="hidden">
				</div>
			</div>
			<div class="row margin-left-none">
				<?php $this->dodajWysiwyg("#tresc", "#wysylanie_form", $this); ?>
			</div>
			<input class="pliki hide" name="pliki">
            <div class="dropzone zasoby_upload"
                 data-desc=".pliki"
                 data-url="<?php echo $this->url('zasoby',
						array('action' => "upload")); ?>">
                <div class="dz-default dz-message"><span><h1>Tutaj przeciągnij załączniki</h1></span></div>
            </div>
			<input type="submit" name="submit" class="btn btn-danger dodaj_dj" value="Wyślij">

		</form>
	</div>
</div>