<?php
// module/Logowanie/view/logowanie/logowanie/index.phtml:

$title = $this->translate('Zasoby');
$this->headTitle($title);
?>
<div id="content" class="col-lg-10 col-sm-11">
    <div class="row">
	<div class="col-lg-3">
	    <div class="box">
		<div class="box-header" data-original-title>
		    <h2>
			<?php echo $this->translate("Menu");?>
		    </h2>
		</div>
		<div class="box-content">
		    <ul class="list-unstyled files-menu">
			<li class="text-danger"><a href="http://ggerp.pl/file"><i class="fa fa-home"></i> <?php echo $this->translate("Katalog główny");?></a></li>
			<li><a href="http://ggerp.pl/file/shared"><i class="fa fa-user"></i> <?php echo $this->translate("Udostępnione pliki dla mnie");?></a></li>
			<li><a href="http://ggerp.pl/file/sharing"><i class="fa fa-location-arrow"></i> <?php echo $this->translate("Udostępniane pliki innym");?></a></li>
		    </ul>
		</div>
	    </div>
	</div>            <div class="col-lg-9">
	    <div class="box">
		<div class="box-header" data-original-title>
		    <h2>
			<i class="fa fa-user"></i>
			<span class="break"></span>
			<?php echo $this->translate("Files");?>
		    </h2>
		</div>
		<div id="folder" class="box-content" data-folder-id="5">
		    <div class="form-group clearfix">
			<button class="add-folder btn btn-primary btn-sm pull-right"><?php echo $this->translate("Create Folder");?></button>
		    </div>
		    <form id="fileupload2" action="http://ggerp.pl/ajax/file/add-file" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="folder_id" value="5"/>
			<!-- Redirect browsers with JavaScript disabled to the origin page -->
			<noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
			<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
			<div class="row fileupload-buttonbar">
			    <div class="col-lg-7">
				<!-- The fileinput-button span is used to style the file input field as button -->
				<span class="btn btn-xs btn-success fileinput-button">
				    <i class="glyphicon glyphicon-plus"></i>
				    <span><?php echo $this->translate("Add files...");?></span>
				    <input type="file" name="files[]" multiple>
				</span>
				<button type="submit" class="btn btn-xs btn-primary start">
				    <i class="glyphicon glyphicon-upload"></i>
				    <span><?php echo $this->translate("Start upload");?></span>
				</button>
				<!-- The global file processing state -->
				<span class="fileupload-process"></span>
			    </div>
			    <!-- The global progress state -->
			    <div class="col-lg-5 fileupload-progress fade">
				<!-- The global progress bar -->
				<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
				    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
				</div>
				<!-- The extended global progress state -->
				<div class="progress-extended">&nbsp;</div>
			    </div>
			</div>
			<!-- The table listing the files available for upload/download -->
			<table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
		    </form>


		    <div class="folders clearfix">
			<table class="table">
			    <thead>
			    <th><?php echo $this->translate("Nazwa pliku");?></th>
			    <th><?php echo $this->translate("Typ pliku");?></th>
			    <th><?php echo $this->translate("Utworzony");?></th>
			    <th><?php echo $this->translate("Dodany przez");?></th>
			    <th><?php echo $this->translate("Rozmiar");?></th>
			    <th></th>
			    </thead>
			    <tbody>

				<tr>
				    <td><i class="fa fa-folder" style="color:#FBD438;font-size: 22px;margin-right: 10px"></i> <a href="http://ggerp.pl/file?folder_id=13">Dokumenty</a></td>
				    <td>Folder plików</td>
				    <td>2015-10-29 15:35:58</td>
				    <td>Grzegorz Lachowicz</td>
				    <td></td>
				    <td></td>
				</tr>
				<tr>
				    <td><i class="fa fa-folder" style="color:#FBD438;font-size: 22px;margin-right: 10px"></i> <a href="http://ggerp.pl/file?folder_id=14">Pobrane</a></td>
				    <td>Folder plików</td>
				    <td>2015-10-29 15:36:08</td>
				    <td>Grzegorz Lachowicz</td>
				    <td></td>
				    <td></td>
				</tr>
				<tr>
				    <td><i class="fa fa-folder" style="color:#FBD438;font-size: 22px;margin-right: 10px"></i> <a href="http://ggerp.pl/file?folder_id=15">asdasd</a></td>
				    <td>Folder plików</td>
				    <td>2015-12-07 20:14:57</td>
				    <td>Grzegorz Lachowicz</td>
				    <td></td>
				    <td></td>
				</tr>

				<tr data-file-id="11">
				    <td>
					<i data-file-type="obj" class="filetype obj"></i>
					<a href="http://ggerp.pl/file/get-file/11">0374.obj</a>
				    </td>
				    <td>obj</td>
				    <td>2015-10-29 15:47:02</td>
				    <td>Grzegorz Lachowicz</td>
				    <td>139.09 KB</td>
				    <td>
					<div class="btn-group">
					    <button type="button" class="btn btn-default btn-xs  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<?php echo $this->translate("Action");?> <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu pull-right">
						<li><a href="#" class="file-share"><?php echo $this->translate("Udostępnij");?></a></li>
						<li><a href="#" class="file-delete"><?php echo $this->translate("Usuń");?></a></li>
					    </ul>
					</div>
				    </td>
				</tr>
			    </tbody>
			</table>
		    </div>
		</div>
	    </div>
	</div><!--/col-->
    </div><!--/row-->
</div>
