
<div class="panel-heading">
    <div class="row">
	<label class="naglowek_logowanie"><?php echo $this->wynik->message; ?></label>
    </div>
    <hr>
</div>


<div class="panel-body">
    <div class="form-group">
	<div class="row">
	    <div class="col-sm-6 col-sm-offset-3">
		<a href="<?php echo $this->url('logowanie',['action'=>'logowanie']); ?>" class="btn btn-yellow form-control ">
		    <?php echo $this->translate("Logowanie"); ?>
		</a>
	    </div>
	</div>
    </div>
</div>