
<div class="panel-heading tytuly_logowanie_rejestracja">
    <div class="row">
	<div class="col-lg-6 text-center">
	    <a href="#"
	    <?php if ($typ === 'logowanie'): ?>
    	       class="active przelaczenie_logowanie_link"
	       <?php else: ?>
    	       class="przelaczenie_logowanie_link "
	       <?php endif; ?>
	       id="login-form-link"><?php echo $this->translate("Logowanie"); ?></a>
	</div>
	<div class="col-lg-6 text-center">
	    <a href="#"
	    <?php if ($typ === 'rejestracja'): ?>
    	       class="active przelaczenie_logowanie_link"
	       <?php else: ?>
    	       class="przelaczenie_logowanie_link"
	       <?php endif; ?>
	       id="register-form-link"><?php echo $this->translate("Rejestracja"); ?></a>
	</div>
    </div>
    <hr>
</div>

<div class="col-md-12">
    <?php echo $msg; ?>
    <!-- Login starts -->


</div>
<div class="panel-body">
    <div class="row">
	<div class="col-lg-12">
	    <div class="dla_niezalogowanego">
		<?php
		echo $this->partial('logowanie/logowanie/logowanie.phtml',
			array('login_form' => $login_form, 'typ' => $typ, 'siteKey' => $siteKey));
		?>
	    </div>
	    <div class="panel-body  dla_zalogowanego text-center">
		<label>Jesteś zalogowany</label>
		<a href="<?php echo $this->url('home'); ?>" class="form-control btn btn-login ">Strona główna</a>
	    </div>
	    <div class="dla_niezalogowanego">
		<?php
		echo $this->partial('logowanie/logowanie/rejestracja.phtml',
			array('rejestracja_form' => $rejestracja_form, 'typ' => $typ, 'wynik_przetwarzania' => $wynik_przetwarzania,
			'siteKey' => $siteKey));
		?>
	    </div>
		<?php
	    echo $this->partial('logowanie/logowanie/reset_hasla_formularz.phtml',
		    ['ukryty' => true, 'siteKey' => $siteKey]);
	    ?>
	</div>
    </div>
</div>