<section class="polityka bg-primary" id="polityka">
      <div class="container">
	  <div class="row">
	    <div class="col-lg-10 polityka-opis">
	  <div class="header-content opis">
		    <h1 class="mb-5">POLITYKA PRYWATNOŚCI</h1>
		</div>   
		</div>
</div>


<div class="row">
	    <div class="col-lg-10 polityka-tekst">
		<h5 class="tekst-paragraf"> &sect1. Informacje ogólne  </h5>
		
<ol><li>Administratorem serwisu internetowego podejmijdecyzje.pl prowadzonego pod adresem: https://podejmijdecyzje.pl  jest firma Pastmo Monika Rymsza Paweł Rymsza spółka cywilna, z siedzibą we Wrocławiu , przy ul. Tomaszowskiej 20/8.
</li><li>Niniejsza polityka prywatności została ustanowiona dla serwisu internetowego podejmijdecyzje.pl  i ma zastosowanie tylko i wyłącznie do danych gromadzonych przez firmę Pastmo Monika Rymsza Paweł Rymsza spółka cywilna za pośrednictwem serwisu internetowego podejmijdecyzje.pl zlokalizowanego pod adresem https://podejmijdecyzje.pl
</li><li>Polityka  prywatności jest dokumentem informacyjnym i nie zastępuje polityki bezpieczeństwa, prowadzonej przez firmę Pastmo Monika Rymsza Paweł Rymsza spółka cywilna, zgodnie z przepisami o ochronie danych osobowych.
</li></ol>

<h5 class="tekst-paragraf"> &sect2.  Przetwarzanie danych osobowych użytkowników </h5>

<ol><li>Firma Pastmo Monika Rymsza Paweł Rymsza spółka cywilna, prowadząc serwis internetowy podejmijdecyzje.pl zbiera dane osobowe od użytkowników, za pośrednictwem strony internetowej https://podejmijdecyzje .pl.
</li><li>Administratorem pozyskanych w ten sposób danych osobowych jest firma Pastmo Monika Rymsza Paweł Rymsza spółka cywilna.
</li><li>Przetwarzanie danych osobowych zgodne jest z przepisami ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (DZ. U. 2016 R. POZ. 922) oraz  rozporządzeniem Ministra Spraw Wewnętrznych i Administracji z dn. 29 kwietnia 2004 r. w sprawie dokumentacji przetwarzania danych osobowych oraz warunków technicznych i organizacyjnych, jakim powinny odpowiadać urządzenia i systemy informatyczne służące do przetwarzania danych osobowych.
</li><li>Wszelkie zebrane dane nie są udostępniane osobom trzecim bez zgody osób, których dane dotyczą, za wyjątkiem sytuacji wymaganych przepisami powszechnie obowiązującego prawa.
</li><li>Dane osobowe są przetwarzane przez firmę Pastmo Monika Rymsza Paweł Rymsza spółka cywilna w celach umożliwiających gromadzenie potrzebnych danych przez Użytkowników w serwisie podejmijdecyzje.pl, a w szczególności do:
<ol type="a"><li>wyliczania decyzji na podstawie wagi argumentów podanych przez Użytkownika,
</li><li>zapisywania podjętych decyzji wraz z argumentami,
</li><li>edycji zapisanych decyzji.
</li></ol>
</li><li>Ilość zbieranych danych osobowych jest ograniczona do danych podanych przez użytkownika a ich przetwarzanie uzależnione jest  od zgody dobrowolnie wyrażonej przez użytkownika, chyba że przepisy prawa stanowią inaczej. Udzielona przez użytkownika zgoda na przetwarzanie danych osobowych zawiera możliwość przetwarzania danych w przyszłości,  jeśli nie zmieni się cel i zakres ich przetwarzania.
</li><li>Użytkownik zachowuje również prawo dostępu do swoich danych i treści dotyczących jego oraz ich poprawiania, uaktualnienia, sprostowania, uzupełniania, lub żądania ich usunięcia. Użytkownik może również wnieść sprzeciw wobec przetwarzania dotyczących go danych osobowych.
</li><li>Wymagamy tylko tych danych, które są niezbędne do prawidłowego działania serwisu. Niepodanie wymaganych danych może z zablokować czynność, którą te dane dotyczyły.
</li></ol>




<h5 class="tekst-paragraf"> &sect3. Dane przekazane Firmie przez użytkowników </h5>

<ol><li>Pastmo Monika Rymsza Paweł Rymsza spółka cywilna zbiera informacje o użytkownikach za pośrednictwem zamieszczonych na stronie internetowej formularzy. W celu realizacji umowy, udzielenia odpowiedzi na zapytanie użytkownika i przedstawienia za zgodą użytkownika informacji handlowej zbierane są te dane osobowe, które wymagane są do prawidłowego przeprowadzenia procesu.
</li><li>Użytkownik może przekazać firmie Pastmo Monika Rymsza Paweł Rymsza spółka cywilna za pomocą formularzy znajdujących się na stronie internetowej, dane osobowe takie jak Imię i adres e-mail.
</li></ol> 

<h5 class="tekst-paragraf"> &sect4. Informacje handlowe </h5>

<ol><li>Firma Pastmo Monika Rymsza Paweł Rymsza spółka cywilna, nie przesyła / wysyła niezamówionych informacji handlowych. Zgodnie z przepisami ustawy z dnia ustawy z dnia 18 lipca 2002 roku o świadczeniu usług drogą elektroniczną (tekst jednolity Dz. U. z 2016 r. poz. 1030, 1579) informację handlową uważa się za zamówioną, jeżeli odbiorca wyraził zgodę na jej otrzymywanie, w szczególności udostępnił w tym celu identyfikujący go adres elektroniczny tzw. email.
</li><li>Odbiorca może w każdej chwili zrezygnować otrzymywania informacji handlowych przez złożenie firmie Pastmo Monika Rymsza Paweł Rymsza spółka cywilna, stosownego oświadczenia, w szczególności za pośrednictwem poczty elektronicznej.
</li></ol>

<h5 class="tekst-paragraf"> &sect5. Wykorzystywanie plików Cookies </h5>

<ol><li>Serwis podejmijdecyzje.pl nie zbiera w sposób automatyczny żadnych informacji, z wyjątkiem informacji zawartych w plikach cookies.
</li><li>Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania ze stron internetowych Serwisu.
</li><li>Pliki cookies zazwyczaj zawierają następujące informacje:
<ol type="a"><li>informacje o przeglądarce użytkownika,
</li><li>publiczny adres IP komputera z którego nadeszło zapytanie;
</li><li>odwiedzane przez użytkownika strony, ilość spędzanego na każdej z nich czasu.
</li><li>informacje o typie systemu operacyjnego użytkownika;
</li></ol>
</li><li>Pliki cookies nie zawierają żadnych identyfikujących danych osoby odwiedzające stronę internetową ani innych informacji pozyskanych od użytkowników
</li><li>Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz uzyskującym do nich dostęp jest operator Serwisu firma Pastmo Monika Rymsza Paweł Rymsza spółka cywilna.
</li><li>Pliki cookies wykorzystywane są w celu:
<ol type="a"><li>dostosowania zawartości stron internetowych Serwisu do preferencji Użytkownika oraz optymalizacji korzystania ze stron internetowych; w szczególności pliki te pozwalają rozpoznać urządzenie Użytkownika Serwisu i odpowiednio wyświetlić stronę internetową, dostosowaną do jego indywidualnych potrzeb;
</li><li>tworzenia statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy Serwisu korzystają ze stron internetowych, co umożliwia ulepszanie ich struktury i zawartości;
</li></ol>
</li><li>W wielu przypadkach oprogramowanie służące do przeglądania stron internetowych (przeglądarka internetowa) domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika. Użytkownicy Serwisu mogą dokonać w każdym czasie zmiany ustawień dotyczących plików cookies. Ustawienia te mogą zostać zmienione w szczególności w taki sposób, aby blokować automatyczną obsługę plików cookies w ustawieniach przeglądarki internetowej bądź informować o ich każdorazowym zamieszczeniu w urządzeniu Użytkownika Serwisu. Szczegółowe informacje o możliwości i sposobach obsługi plików cookies dostępne są w ustawieniach oprogramowania (przeglądarki internetowej).
</li><li>Operator Serwisu informuje, że ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na stronach internetowych Serwisu.
</li></ol>


<h5 class="tekst-paragraf"> &sect6. Google Analytics </h5>

<ol><li>Serwis podejmijdecyzje.pl korzysta z Google Analytics czyli usługi analizy oglądalności stron internetowych udostępnianej przez Google, Inc. („Google”).
</li><li>Google Analytics używa „plików cookies” w celu umożliwienia witrynie przeanalizowania sposobu, w jaki użytkownicy z niej korzystają. Informacje generowane przez „pliki cookie” na temat korzystania z witryny przez użytkownika (włącznie z jego adresem IP) będą przekazywane spółce Google.
</li><li>Google będzie wykorzystywał informacje do celów oceny korzystania z witryny przez użytkowników, świadczenia innych usług związanych z ruchem na witrynach internetowych i korzystaniem z Internetu, tworzenia raportów z ruchu na stronach dla operatorów witryn.
</li><li>Google nie będzie łączyła adresu IP użytkownika z żadnymi innymi danymi będącymi w jej posiadaniu. Użytkownik może zrezygnować z „plików cookies” odpowiednio konfigurując przeglądarkę. Google może również przekazywać wyżej wymienione informacje osobom trzecim, jeżeli będzie zobowiązana to uczynić na podstawie przepisów prawa lub w przypadku, gdy osoby te przetwarzają takie informacje w imieniu Google.
</li><li>Korzystając z niniejszego serwisu podejmijdecyzje.pl wyrażacie Państwo zgodę na przetwarzanie przez Google dotyczących Państwa danych w sposób i celach określonych powyżej.
</li></ol>

<h5 class="tekst-paragraf"> &sect7. Informacje końcowe </h5>
<ol><li>Prywatność użytkowników odwiedzających serwis podejmijdecyzje.pl jest dla firmy Pastmo Monika Rymsza Paweł Rymsza spółka cywilna sprawą priorytetową. Dane przekazane przez użytkowników oraz dane gromadzone automatycznie są wykorzystywane jedynie do celów wskazanych w niniejszej polityce prywatności i za zgodą i wiedzą osób których dane dotyczą.
</li><li>Celem firmy Pastmo Monika Rymsza Paweł Rymsza spółka cywilna jest zapewnienie jak najdalej posuniętej ochrony danych osobowych. Rozwój technologii oraz rozwój serwisu podejmijdecyzje.pl powodują, że nasza polityka ochrony prywatności może ulegać zmianom, o których będziemy informować na tej stronie.
</li><li>Jesteśmy otwarci na wszelkie opinie, uwagi i pytania Państwa dotyczące zachowania poufności informacji. Prosimy o ich kierowanie na adres: kontakt@podejmijdecyzje.pl lub adres firmy: Pastmo Monika Rymsza Paweł Rymsza spółka cywilna, ul. Tomaszowskiej 20 lok. 8, 50-523  Wrocław.
</li><li> Firma Pastmo Monika Rymsza Paweł Rymsza spółka cywilna  zastrzega sobie prawo do wprowadzania zmian w Polityce Prywatności.
</li></ol>

</div>   
		</div>

  </div>
    </section>