<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><?php echo $this->translate('Ustawienia konta'); ?></h1>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->


<div class="row">
    <div class="col-lg-12">
        <div class='box'>
            <div class="box-header" data-original-title>
                <h2>
                    <i class="fa fa-user"></i>
                    <span class="break"></span>
                    <?php echo $this->translate("Dane użytkownika*"); ?>
                    <hr>
                </h2>
            </div>
            <div class="box-content">
                <form method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="radio" id="wybor-typu-uzytkownika-firma"
                                   name="typ" value="firma"
                                   <?php echo ($wystawca->typ === 'firma') ? 'checked' : ''?>>
                            <label for="wybor-typu-uzytkownika-firma">Firma</label>

                            <div class="reveal-if-active">
                                <div class="row">
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="formularz-nazwa-firmy"><?php echo $this->translate("Nazwa firmy"); ?></span>
                                            <input type="text" class="form-control" name="nazwa" value="<?php echo $wystawca->nazwa ?>"
                                                   placeholder="<?php echo $this->translate("Nazwa firmy"); ?>" aria-describedby="nazwa_firmy">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="formularz-nip"><?php echo $this->translate("NIP"); ?></span>
                                            <input type="number" class="form-control" name="nip" value="<?php echo $wystawca->nip ?>"
                                                   placeholder="<?php echo $this->translate("NIP"); ?>" aria-describedby="nip">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="formularz-ulica"><?php echo $this->translate("Ulica"); ?></span>
                                            <input type="text" class="form-control" name="ulica[]" value="<?php echo $wystawca->adres->ulica ?>"
                                                   placeholder="<?php echo $this->translate("Ulica"); ?>" aria-describedby="nip">
                                        </div>

                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="formularz-nr_budynku"><?php echo $this->translate("Nr budynku"); ?></span>
                                            <input type="number" class="form-control" name="nr_domu[]" value="<?php echo $wystawca->adres->nr_domu ?>"
                                                   placeholder="<?php echo $this->translate("Nr budynku"); ?>" aria-describedby="nr_budynku">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="formularz-nr_lokalu"><?php echo $this->translate("Nr lokalu"); ?></span>
                                            <input type="number" class="form-control" name="nr_lokalu[]" value="<?php echo $wystawca->adres->nr_lokalu ?>"
                                                   placeholder="<?php echo $this->translate("Nr lokalu"); ?>" aria-describedby="nr_lokalu">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="formularz-kod-pocztowy"><?php echo $this->translate("Kod pocztowy"); ?></span>
                                            <input type="text" class="form-control" name="kod[]" value="<?php echo $wystawca->adres->kod ?>"
                                                   placeholder="<?php echo $this->translate("Kod pocztowy"); ?>" aria-describedby="kod_pocztowy">
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="formularz-miejscowość"><?php echo $this->translate("Miejscowość"); ?></span>
                                            <input type="text" class="form-control" name="miasto[]" value="<?php echo $wystawca->adres->miasto ?>"
                                                   placeholder="<?php echo $this->translate("Miejscowość"); ?>" aria-describedby="miejscowosc">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ">
                                        <button type="submit" class="btn btn-danger">Zapisz</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                </form>
                <form method="POST" enctype="multipart/form-data">		-->
                    <div class="row">
                        <div class="col-xs-12">
                            <hr>
                            <input type="radio" id="wybor-typu-uzytkownika-prywatnie"
                                   name="typ" value="<?php //echo \Pastmo\Faktury\Enumy\TypyWystawcowFaktur::OSOBA_PRYWATNA ?>"
                                   <?php //echo ($wystawca->typ === \Pastmo\Faktury\Enumy\TypyWystawcowFaktur::OSOBA_PRYWATNA) ? 'checked' : ''?>>
                            <label for="wybor-typu-uzytkownika-prywatnie">Prywatnie</label>

                            <div class="reveal-if-active">
                                <div class="row">
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="formularz-imie-i-nazwisko"><?php echo $this->translate("Imię i nazwisko"); ?></span>
                                            <input type="text" class="form-control" name="imie_nazwisko" value="<?php echo $wystawca->imie_nazwisko ?>"
                                                   placeholder="<?php echo $this->translate("Imię i nazwisko"); ?>" aria-describedby="Imie-i-nazwisko">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="formularz-ulica"><?php echo $this->translate("Ulica"); ?></span>
                                            <input type="text" class="form-control" name="ulica[]" value="<?php echo $wystawca->adres->ulica ?>"
                                                   placeholder="<?php echo $this->translate("Ulica"); ?>" aria-describedby="ulica">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="formularz-nr_budynku"><?php echo $this->translate("Nr budynku"); ?></span>
                                            <input type="number" class="form-control" name="nr_domu[]" value="<?php echo $wystawca->adres->nr_domu ?>"
                                                   placeholder="<?php echo $this->translate("Nr budynku"); ?>" aria-describedby="nr_budynku">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="formularz-nr_lokalu"><?php echo $this->translate("Nr lokalu"); ?></span>
                                            <input type="number" class="form-control" name="nr_lokalu[]" value="<?php echo $wystawca->adres->nr_lokalu ?>"
                                                   placeholder="<?php echo $this->translate("Nr lokalu"); ?>" aria-describedby="nr_lokalu">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="formularz-kod-pocztowy"><?php echo $this->translate("Kod pocztowy"); ?></span>
                                            <input type="text" class="form-control" name="kod[]" value="<?php echo $wystawca->adres->kod ?>"
                                                   placeholder="<?php echo $this->translate("Kod pocztowy"); ?>" aria-describedby="kod_pocztowy">
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="formularz-miejscowość"><?php echo $this->translate("Miejscowość"); ?></span>
                                            <input type="text" class="form-control" name="miasto[]" value="<?php echo $wystawca->adres->miasto ?>"
                                                   placeholder="<?php echo $this->translate("Miejscowość"); ?>" aria-describedby="miejscowosc">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ">
                                        <button type="submit" class="btn btn-danger">Zapisz</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p>*Dane, które tutaj wpiszesz pojawią się wystawianych przez Ciebie fakturach oraz na rachunku, który od nas otrzymasz</p>
                </form>
            </div>
        </div>
    </div>
</div><!-- /.row -->