<section class="polityka bg-primary" id="polityka">
      <div class="container">
	  <div class="row">
	    <div class="col-lg-10 polityka-opis">
	  <div class="header-content opis">
		    <h1 class="mb-5">REGULAMIN SERWISU podejmijdecyzje.pl</h1>
		</div>   
		</div>
</div>
<div class="row">
	    <div class="col-lg-10 polityka-tekst">
		
<p> Serwis internetowy podejmijdecyzje.pl znajdujący się pod adresem internetowym http://podejmijdecyzje.pl/ jest nowoczesnym Serwisem, wspomagającym Użytkowników w podejmowaniu decyzji.
</p>
	<h5 class="tekst-paragraf"> &sect1. Informacje prawne i definicje </h5>
<ol><li>Niniejszy Regulamin określa ogólne warunki, rodzaje i zakres świadczonych usług oraz zasady korzystania i funkcjonowania Serwisu, prowadzonego pod adresem internetowym: http://podejmijdecyzje.pl/.
</li><li>Regulamin został sporządzony na podstawie Ustawy z dnia 18 lipca 2002r. o świadczeniu usług drogą elektroniczną tekst jednolity (Dz. U. z 2016 r. poz. 1030, 1579), Ustawy z dnia 30 maja 2014r. o prawach konsumenta (2015 r. poz. 1854, z 2016 r. poz. 615, 1823) oraz innych obowiązujących aktów prawnych, wymienionych w Regulaminie.
</li><li>Usługodawcą (także Operatorem Serwisu) jest firma Pastmo Monika Rymsza Paweł Rymsza spółka cywilna, z siedzibą we Wrocławiu , przy ul. Tomaszowskiej 20 lok. 8, która  prowadzi bieżącą obsługę Serwisu.
</li><li>Serwis świadczy usługi za pośrednictwem Internetu, tj. sieci publicznej w rozumieniu art.2 ust.22 Ustawy z dnia 21 lipca 2000r. Prawo telekomunikacyjne (Dz.U. 2000, nr 73, poz. 852 z późn.zm.). Usługodawca świadczy Usługi drogą elektroniczną zgodnie z Regulaminem i obowiązującym prawem.
</li><li>Postanowienia niniejszego Regulaminu wraz z przepisami prawa obowiązującego na terytorium Rzeczypospolitej Polskiej, w sposób wyłączny określają prawa i obowiązki Użytkownika, a także prawa, obowiązki oraz zakres odpowiedzialności Usługodawcy. Regulamin nie wyłącza oraz nie ogranicza żadnych uprawnień Użytkownika będącego konsumentem, które przysługują mu na mocy bezwzględnie obowiązujących przepisów prawa. W przypadku sprzeczności pomiędzy postanowieniami Regulaminu a bezwzględnie obowiązującymi przepisami prawa, przyznającymi konsumentom uprawnienia, pierwszeństwo mają te bezwzględnie obowiązujące przepisy prawa.
</li><li>Usługodawca udostępnia Użytkownikowi Regulamin przed zawarciem umowy o świadczenie usług. Użytkownik nie jest związany tymi postanowieniami Regulaminu, które nie zostały udostępnione w wyżej opisany sposób.
</li><li>Regulamin i Polityka Prywatności Serwisu udostępniane są nieodpłatnie, celem zapoznania się z ich treścią lub ich utrwalenia i wydruku. Akceptacja Regulaminu oraz dobrowolna zgoda na przetwarzanie danych osobowych i wizerunku  odbywa się poprzez zaznaczenie odpowiednich opcji  na stronie internetowej Serwisu przed rozpoczęciem świadczenia usług Serwisu na rzecz Usługodawcy.
</li><li>Korzystanie z wszystkich usług Serwisu  wymaga akceptacji  Regulaminu i Polityki prywatności.
</li><li>Użytkownik – osoba fizyczna, osoba prawna lub jednostka organizacyjna nie posiadająca osobowości prawnej a posiadająca zdolność do czynności prawnych, która na zasadach określonych w niniejszym regulaminie korzysta z jakichkolwiek funkcji Serwisu.  Korzystanie z pełnego zakresu funkcji Serwisu wymaga rejestracji.
</li><li>Konto Użytkownika [Konto] - wydzielona przestrzeń pamięci w systemie informatycznym opisana unikalnymi: loginem (adres e-mail) i hasłem, dostępna wraz z systemem umożliwiającym pełne korzystanie z oferty Serwisu.
</li><li>Hasło - ciąg znaków ustalanych przez Użytkownika, który ma obowiązek zachowania go w tajemnicy i chronienia przed niepowołanym dostępem osób trzecich. Każdy Użytkownik ma prawo do utworzenia wyłącznie jednego Konta. Użytkownik ma prawo nadto do zgłoszenia żądania usunięcia swojego Konta w każdym czasie za pośrednictwem adresu mailowego: kontakt@podejmijdecyzje.pl
</li><li>Oferta Serwisu (usługi Serwisu) obejmuje w szczególności usługi:
<ol type="a"><li>wyliczania decyzji na podstawie wagi argumentów podanych przez Użytkownika,
</li><li>zapisywania podjętych decyzji wraz z argumentami,
</li><li>edycji zapisanych decyzji.
</li></ol>
</li><li>Są to usługi pozbawione wad prawnych oraz dopuszczone do obrotu na terenie 	Rzeczypospolitej Polskiej.
</li><li>Umowa – umowa o świadczenie usług drogą elektroniczną zawarta pomiędzy Usługodawcą a Użytkownikiem, dotycząca w szczególności korzystania z usług Serwisu. Warunki Umowy określa Regulamin oraz obowiązujące prawo polskie. Zamawiając usługi Serwisu, Użytkownik składa prawnie wiążącą ofertę zawarcia Umowy. Rozpoczęcie świadczenia usług Serwisu następuje w chwili dokonania poprawnej i kompletnej rejestracji w Serwisie oraz zaksięgowania opłaty dokonanej przez użytkownika.
</li><li>Dane – treści, które Użytkownik umieszcza w Serwisie. Dane to również dane osobowe.
</li><li>Językiem Regulaminu i umów między Usługodawcą a Użytkownikami jest język polski.
</li><li>System informatyczny Serwisu – system teleinformatyczny określony w art.2 pkt 3 Ustawy z dnia 18 lipca 2002r. o świadczeniu usług drogą elektroniczną (Dz.U.2002 nr 144 poz.1204 z późn.zm.). System informatyczny – to zespół współpracujących ze sobą urządzeń, programów, procedur przetwarzania informacji i narzędzi programowych zastosowanych w celu przetwarzania danych. [System Serwisu]
</li><li>Kopiowanie, modyfikowanie, dystrybucja, wyświetlanie publiczne, przedrukowywanie, licencjonowanie, sprzedaż, wymiana, przekazywanie materiałów i danych pochodzących z Serwisu lub jego składników podlega ochronie w myśl Ustawy z dnia 4 lutego 1994r. o prawie autorskim i prawach pokrewnych (Dz.U.1994 nr 24 poz.83 z późn.zm.) i jest bez pisemnej zgody Usługodawcy – bezwarunkowo zabronione.
</li></ol>

	<h5 class="tekst-paragraf"> &sect2. Rejestracja i zamówienia usług Serwisu </h5>
<ol><li>Korzystanie z  Serwisu jest odpłatne i wymaga rejestracji.
</li><li>Użytkownik ma możliwość odstąpienia od umowy w ciągu 14 dni od momentu rejestracji, w takim przypadku konto zostanie skasowane, a dane w nim zapisane usunięte.
</li><li>Wysokość abonamentu za roczne korzystanie z serwisu to 5,00 zł (pięć złotych) brutto. Koszt abonamentu przedstawiono w jasnej i czytelnej formie na stronach Serwisu.
</li><li>Płatności można dokonywać za pośrednictwem kanału płatności: przelewy24.
</li><li>Regulamin dokonywania płatności za pośrednictwem aplikacji przelewy24.pl dostępny jest pod adresem: https://www.przelewy24.pl/regulamin
</li><li>Użytkownik może poprzez wyrażenie odrębnych zgód, zaznaczanych na stronach Serwisu  przystąpić do programu newsletter, programu usług marketingowych i reklamowych, oraz innych usług proponowanych przez Serwis.
</li><li>Rejestracja odbywa się online 24 godziny na dobę, 7 dni w tygodniu, przez cały rok  poprzez: https://podejmijdecyzje.pl/ i formularz pojawiający się po naciśnięciu przycisku znajdującego się w prawym górnym rogu tej strony internetowej o nazwie: „rejestracja”.
</li><li>Usługodawca uznaje rejestrację za prawidłową, jeżeli Użytkownik poda wszystkie wymagane we właściwym formularzu dane oraz uiści stosowną opłatę.
</li><li>W trakcie rejestracji, Użytkownik może wyrazić dobrowolną i odwoływalną zgodę na umieszczenie danych osobowych w bazie Serwisu w celu ich przetwarzania w związku z realizacją usług Serwisu. Użytkownikowi, który wyraził taką zgodę przysługują prawa określone w art.32 Ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych. (Dz.U.1997, nr 133, poz. 883 z późn. zm.). Przetwarzanie odbywa się zgodnie z obowiązującym prawem oraz Polityką prywatności Serwisu.
</li><li>Administratorem danych osobowych Użytkownika Serwisu jest Usługodawca,  Pastmo Monika Rymsza Paweł Rymsza spółka cywilna, z siedzibą we Wrocławiu , przy ul. Tomaszowskiej 20 lok. 8, która  prowadzi bieżącą obsługę Serwisu.
</li><li>Zbiory danych osobowych zostały zgłoszone do rejestru zbiorów danych osobowych prowadzonych przez Generalnego Inspektora Ochrony Danych Osobowych (GIODO).
</li><li>Wszelkie zebrane dane nie są udostępniane osobom trzecim bez zgody osób, których dane dotyczą, za wyjątkiem sytuacji wymaganych przepisami powszechnie obowiązującego prawa
</li><li>Administrator danych osobowych stwierdza, że przetwarzanie danych osobowych zgodne jest z przepisami ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (DZ. U. 2016 R. POZ. 922) oraz  rozporządzeniem Ministra Spraw Wewnętrznych i Administracji z dn. 29 kwietnia 2004 r. w sprawie dokumentacji przetwarzania danych osobowych oraz warunków technicznych i organizacyjnych, jakim powinny odpowiadać urządzenia i systemy informatyczne służące do przetwarzania danych osobowych.
</li><li>Ilość zbieranych danych osobowych jest ograniczona do niezbędnego minimum a ich przetwarzanie uzależnione jest  od zgody dobrowolnie wyrażonej przez użytkownika, chyba że przepisy prawa stanowią inaczej. Udzielona przez użytkownika zgoda na przetwarzanie danych osobowych zawiera możliwość przetwarzania danych w przyszłości,  jeśli nie zmieni się cel i zakres ich przetwarzania.
</li><li>Użytkownik zachowuje również prawo dostępu do swoich danych i treści dotyczących jego oraz ich poprawiania, uaktualnienia, sprostowania, uzupełniania, lub żądania ich usunięcia. Użytkownik może również wnieść sprzeciw wobec przetwarzania dotyczących go danych osobowych.
</li><li>Usługodawca zastrzega sobie prawo do kontaktu z Użytkownikiem celem weryfikacji podanych danych – wyłącznie w razie uzasadnionej potrzeby.
</li><li>Usługodawca dokłada należytej staranności, aby sukcesywnie powiększała się ilość usług objętych Ofertą Serwisu, a Użytkownik nie będzie z tego tytułu bez swojej wiedzy i akceptacji ponosić żadnych dodatkowych kosztów.
</li></ol>

	<h5 class="tekst-paragraf"> &sect3. Informacja o prawie do odstąpienia </h5>
<ol><li>Użytkownik, który zawarł z Usługodawcą umowę na odległość, ma prawo do odstąpienia od tej umowy bez podania przyczyny składając stosowne oświadczenie – w terminie 14 dni. Do zachowania tego terminu wystarczy wysłanie oświadczenia woli przed jego upływem. Termin 14 dniowy, w którym Użytkownik może odstąpić od umowy, liczy się od dnia zawarcia umowy o świadczenie usług.
</li><li>Prawo do odstąpienia nie przysługuje w przypadku umowy o świadczenie usług, jeżeli Usługodawca wykonał w pełni usługę za wyraźną zgodą Użytkownika, który został poinformowany przed rozpoczęciem świadczenia, że po spełnieniu świadczenia przez Usługodawcę utraci prawo odstąpienia od umowy oraz o dostarczanie treści cyfrowych, które nie są zapisane na nośniku materialnym, jeżeli spełnianie świadczenia rozpoczęło się za wyraźną zgodą Użytkownika przed upływem terminu do odstąpienia od umowy i po poinformowaniu go przez Usługodawcę o utracie prawa odstąpienia od umowy.
</li></ol>

	<h5 class="tekst-paragraf"> &sect4. Postępowanie reklamacyjne </h5>
<ol><li>Użytkownicy posiadają prawo do składania reklamacji dotyczących oferty i działania Serwisu.
</li><li>Ewentualną reklamację należy złożyć w formie pisemnej na adres Usługodawcy, Pastmo Monika Rymsza Paweł Rymsza spółka cywilna, z siedzibą we Wrocławiu , przy ul. Tomaszowskiej 20 lok. 8, lub pocztą elektroniczną: kontakt@podejmijdecyzje.pl Reklamacja powinna zawierać: imię i nazwisko oraz adres Reklamującego, także e-mail, zakres reklamacji, szczegóły reklamacji, podpis Reklamującego.
</li><li>Reklamację rozpatruje Usługodawca w terminie: 14 dni od dnia jej otrzymania, informując Reklamującego o swojej decyzji w sprawie reklamacji pocztą tradycyjną lub elektroniczną. Koszty reklamacji ponosi  Usługodawca.
</li></ol>

	<h5 class="tekst-paragraf"> &sect5. Odpowiedzialność i jej wyłączenia </h5>
<ol><li>Usługodawca  nie ponosi odpowiedzialności:
<ol type="a"><li>za działanie siły wyższej, w szczególności: pożaru, powodzi, trzęsienia ziemi, burzy, huraganu lub podobnej katastrofy naturalnej, wojny, napaści, rewolucji, powstania, konfiskaty, działalności terrorystycznej, nacjonalizacji, sankcji, blokady, embargo, sporów związkowych, strajku, przerwy lub awarii w systemie dostarczania energii elektrycznej albo usługach telekomunikacyjnych;
</li><li>za Dane w całości lub części, umieszczane w Serwisie przez Użytkowników;
</li><li>za niezgodne z Regulaminem działania Użytkowników;
</li><li>za włamania hakerskie do wykorzystywanego przez Użytkownika systemu i poczty elektronicznej, przejęcia loginu lub hasła przez osoby trzecie oraz zainfekowania wirusami systemu  Użytkownika;
</li><li>za włamania hakerskie do Systemu Serwisu i wynikłe z tego tytułu szkody;
</li><li>za spory powstałe między Użytkownikiem a osobą trzecią;
</li><li>za ograniczenia techniczne niezależne od Usługodawcy;
</li></ol>
</li><li>Usługodawca  w miarę swoich możliwości starać się będzie weryfikować umieszczane w Serwisie przez Użytkowników Dane oraz podejmować niezbędne działania w celu wyeliminowania niezgodnych z Regulaminem działań  Użytkowników.
</li><li>Usługodawca  informuje, iż nie ponosi odpowiedzialności za przechowywane dane ten, kto udostępniając zasoby systemu teleinformatycznego w celu przechowywania danych przez Użytkownika, nie wie o bezprawnym charakterze danych lub związanej z nimi działalności, a w razie otrzymania urzędowego zawiadomienia lub uzyskania wiarygodnej wiadomości o bezprawnym charakterze danych lub związanej z nimi działalności niezwłocznie uniemożliwi dostęp do tych danych.
</li></ol>

	<h5 class="tekst-paragraf"> &sect6. Zapisy uzupełniające </h5>

<ol><li>Usługodawca nie odpowiada za niedostosowanie przez Użytkownika systemu informatycznego do wymagań Systemu Serwisu, w szczególności konfiguracji komputera lub innego urządzenia albo przeglądarki internetowej. System Serwisu ma charakter responsywny.
</li><li>Usługodawca zastrzega sobie prawo do prowadzenia działalności marketingowej poprzez Serwis.
</li><li>Usługodawca zapewnia, iż dołoży należytej staranności, aby Serwis działał w sposób ciągły i bezawaryjnie.
</li><li>Usługodawca przypomina, iż wszelkie treści i dane zamieszczone w Serwisie przez Użytkowników są ich własnością, stanowiskiem i ich opiniami, a nie własnością, stanowiskiem, opinią  Usługodawcy.
</li><li>Usługodawca zastrzega sobie prawo do zakończenia funkcjonowania Serwisu wobec wystąpienia uzasadnionej przyczyny, która uniemożliwi jego działalność - w terminie 30 dni od jej wystąpienia - przy braku możliwości jej usunięcia. Informacja o zdarzeniu zostanie podana niezwłocznie na stronie głównej Serwisu: http://podejmijdecyzje.pl/
</li><li>Usługodawca ma prawo dokonywać czasowych przerw w dostępie do Serwisu w celu przeprowadzenia prac konserwacyjnych lub uaktualnień, a ponadto w celu wymiany, rozbudowy lub konfiguracji sprzętu lub oprogramowania służących do realizacji usługi. W związku z powyższym, nie ponosi odpowiedzialności za ewentualne przerwy w działaniu Serwisu, wynikające z konieczności rozbudowy, zmiany konfiguracji lub wymiany sprzętu i oprogramowania. Prace związane z modyfikacją Serwisu nie mają wpływu na Dane Użytkowników.
</li><li>Zabronione bezwarunkowo jest umieszczanie poprzez Konto, Dane, w Serwisie lub w wiadomościach kierowanych do Usługodawcy, a także przekazywanie za ich pośrednictwem materiałów i treści sprzecznych z obowiązującym prawem polskim, zasadami współżycia społecznego oraz dobrymi obyczajami i „netykietą”; materiałów i treści: wulgarnych, obscenicznych, pornograficznych i erotycznych, powszechnie uznawanych za obraźliwe, naruszających dobra osobiste innych osób, nawołujących i nakłaniających do popełnienia przestępstwa, propagujących przemoc, rasizm i nagannych moralnie. W razie stwierdzenia takiego przypadku Usługodawca niezwłocznie zawiadomi odpowiednie organy ścigania.
</li><li>Zabronione bezwarunkowo jest umieszczanie poprzez Konto, Dane, w Serwisie lub w wiadomościach kierowanych do Usługodawcy ogłoszeń: erotycznych, towarzyskich i matrymonialnych, a także niedozwolonych przez polskie prawo reklam: hazardu, alkoholu, wyrobów tytoniowych, narkotyków lub zabronionych środków o podobnym działaniu, leków na receptę oraz innych zabronionych prawem polskim lub międzynarodowym.
</li><li>Zabronione bezwarunkowo jest umieszczanie poprzez Konto, Dane, w Serwisie lub w wiadomościach kierowanych do Usługodawcy odnośników do stron zewnętrznych zawierających materiały wymienione w pkt 9 i pkt 10.
</li><li>Zabronione bezwarunkowo jest wykorzystywanie materiałów i danych uzyskanych od Usługodawcy lub za pośrednictwem Serwisu  dotyczących i obejmujących Użytkowników albo inne osoby fizyczne lub prawne w celach komercyjnych, w szczególności działania  polegające na wysyłaniu niechcianej informacji handlowej.
</li><li>Zabronione bezwarunkowo są wszelkie działania naruszające prywatność.
</li><li>W przypadku zgłoszenia przez osobę trzecią roszczeń względem umieszczonych w Serwisie przez Użytkownika danych, Użytkownik, który je opublikował, jest zobowiązany do złożenia Usługodawcy w formie pisemnej oświadczenia w nieprzekraczalnym terminie: 7 dni o: posiadaniu praw autorskich lub licencji do tych materiałów i potwierdzeniu udzielenia zgody na ich umieszczenie na oraz ich wykorzystanie zgodne z Regulaminem. W przypadku udowodnienia przez osobę trzecią roszczeń względem umieszczonych przez Użytkownika Danych, zostaną one niezwłocznie i bezwarunkowo usunięte z Serwisu.
</li><li>Użytkownik zawierając Umowę, niniejszym udziela Usługodawcy wyłącznej, nieograniczonej czasowo lub terytorialnie licencji na korzystanie z Danych umieszczonych przez Użytkownika w Serwisie wraz z prawem do dokonywania zmian, modyfikacji lub albo przeróbek w zakresie nienaruszającym ich oryginalnej treści i formy oraz nieobniżającym jakości pierwotnego przekazu, na następujących polach eksploatacji:
<ol type="a"><li>w zakresie utrwalania i zwielokrotniania w całości lub w wybranych przez Usługodawcę częściach – wytwarzanie określoną techniką egzemplarzy, w tym techniką cyfrową;
</li><li>w zakresie rozpowszechniania treści w całości lub w wybranych przez Usługodawcę  częściach w sposób inny niż określony powyżej, tj. poprzez publiczne wykonanie, wystawienie, wyświetlenie, odtworzenie oraz nadawanie i reemitowanie, a także publiczne udostępnienie  w całości lub w wybranych przez Usługodawcę częściach w taki sposób, aby każdy mógł mieć do niego dostęp w miejscu i czasie przez siebie wybranym, np. w Internecie.
</li></ol>
</li><li>Usługodawcy jest uprawniony także do udzielania sublicencji osobom trzecim.
</li><li>W sprawach nieuregulowanych Regulaminem mają zastosowanie normy powszechnie obowiązującego prawa, w szczególności akty prawne wymienione w Regulaminie.
</li><li>Usługodawca zastrzega sobie prawo do zmiany Regulaminu w każdym czasie i dowolnym zakresie. Użytkownicy zostaną powiadomieni o zmianie Regulaminu na stronie internetowej  albo podczas logowania na Konto i zapewniona im będzie możliwość ustosunkowania się do planowanych zmian w terminie przynajmniej 14 dni przed wejściem ich w życie. Żadna zmiana Regulaminu nie działa wstecz.
</li><li>Wszelkie spory wynikające ze stosowania Regulaminu oraz powstałe w związku z wykonywaniem umów pomiędzy Usługodawcą a Użytkownikami będą rozstrzygane przez powszechny sąd właściwy rzeczowo i miejscowo wg odpowiednich przepisów Ustawy z dnia 17 listopada 1964r. Kodeks postępowania cywilnego (Dz.U.1964 nr 43 poz.296 z późn.zm.).
</li></ol>

</div>   
		</div>
 </div>
    </section>