<?php
$aktywny = $typ === 'rejestracja';

if (!$aktywny) {
    $rejestracja_form->setAttribute('style', 'display: none;');
}

$rejestracja_form
	->setAttribute('action', $this->url('logowanie', array('action' => 'rejestracja')))
	->prepare();

$uzytkownik = $rejestracja_form->get('uzytkownik');

$czySukces = \Pastmo\Wspolne\Utils\EntityUtil::wydobadzPole($wynik_przetwarzania, 'isSuccess');

if ($czySukces === false):
    ?>
    <div class="alert alert-danger"><?php echo $wynik_przetwarzania->message; ?></div>
    <?php
endif;
echo $this->form()->openTag($rejestracja_form);
?>



<div class="form-group col-lg-12 text-center">
    Zarejestruj się i opłać roczny abonament. Całkowity koszt abonamentu <span class="cena">5,00zł</span> brutto.
</div>
<div class="form-group col-lg-8 formularz_rejestracji_pola">
    <?php echo $this->formRow($uzytkownik->get('mail')->setAttribute('type', 'email')); ?>
</div>
<div class="form-group col-lg-8 formularz_rejestracji_pola">
    <?php echo $this->formRow($uzytkownik->get('haslo')); ?>
</div>
<div class="form-group col-lg-8 formularz_rejestracji_pola">
    <?php echo $this->formRow($uzytkownik->get('haslo2')); ?>
</div>
<div class="form-group">
    <div class="zgody_przetwarzanie">
	<input type="checkbox" name="akceptacja_regulaminu" required="required" value="1">
	Akceptuję postanowienia
	<a href="/logowanie/regulamin" class="regulamin_modal">regulaminu</a> oraz
	<a href="/logowanie/polityka_prywatnosci" class="polityka_prywatnosci_modal">polityki prywatności</a> portalu podejmijdecyzje.pl
    </div>
    <div class="zgody_przetwarzanie">
	<input type="checkbox" required="" name="zgoda_przetwarzanie" value="1">
	Wyrażam zgodę na przetwarzanie moich danych osobowych zawartych w powyższym formularzu zgodnie z ustawą o ochronie danych osobowych w celu rejestracji. Administratorem danych osobowych jest Pastmo Monika Rymsza Paweł Rymsza spółka cywilna.
    </div>
    <div class="zgody_przetwarzanie">
	<input type="checkbox" name="zgoda_przetwarzanie_marketingowe" value="1">
	Wyrażam zgodę na przetwarzanie moich danych osobowych podanych w powyższym formularzu w celach handlowych i marketingowych przez Pastmo Monika Rymsza Paweł Rymsza spółka cywilna.
    </div>
</div>
<div class="g-recaptcha" id="rejestracja_submit"
     data-sitekey="<?php echo $this->siteKey; ?>"
     data-callback="recaptchaSubmit"
     data-funkcja_obslugi="wyslijRejestracje"
     data-size="normal"
     data-id_captcha="0">
</div>

<div class="form-group">
    <div class="row">
	<div class="col-lg-12 text-center">

	    <?php echo $this->formElement($rejestracja_form->get('submit')); ?>
	</div>
    </div>
</div>



<?php echo $this->form()->closeTag(); ?>
