<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <?php if ($this->wynik->message): ?>
                <div class = "alert <?php echo $this->wynik->isSuccess ? 'alert-success' : 'alert-danger'; ?>">
                    <?php echo $this->wynik->message; ?>
                </div>
            <?php endif; ?>
            <?php if ($this->wynik->isSuccess && !$this->is_post): ?>
            <form id="reset_hasla" class="przelaczenie_logowanie" action="" method="post">
                <fieldset>
                    <input type="hidden" name="id" value="<?php echo $this->id; ?>">
                    <div class="form-group">
                        <input type="password" class="form-control" name="nowe_haslo" id="username" type="text" required="required" placeholder="Nowe hasło" autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control"  name="nowe_haslo2" id="username" type="text" required="required" placeholder="Powtórz hasło" autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button type="submit" class="btn btn-yellow form-control">Zmień hasło</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <?php endif; ?>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <a href="/logowanie" class="forgot-password">
                                <?php echo $this->translate("Wróć do strony logowania"); ?>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
