<div id="content" class="col-lg-10 col-sm-11" style="min-height: 799px;">
    <div class="row">
	<div class="col-lg-12">
	    <div class="box">
		<div class="box-header" data-original-title="">
		    <h2>
			<i class="fa fa-user"></i>
			<span class="break"></span>
			role.role                        </h2>
		</div>
		<div class="box-content">
		    <h2><?php echo $this->translate("Przypisani użytkownicy do roli:");?> <?php echo $this->rola; ?></h2>
		    <table class="table table-striped table-bordered bootstrap-datatable datatable">
			<thead>
                            <tr>
                                <th><?php echo $this->translate("Id");?></th>
                                <th><?php echo $this->translate("Nazwa użytkownika");?></th>
                                <th><?php echo $this->translate("Email");?></th>
                                <th><?php echo $this->translate("Firma");?></th>
                            </tr>
			</thead>
			<tbody>
			    <?php foreach ($this->uzytkownicy as $uzytkownik): ?>
    			    <tr>
    				<th>
    				    <a href="<?php echo $this->url('logowanie', array('action' => 'profil', 'id' => $uzytkownik->id)); ?>"><?php echo $uzytkownik->id; ?></a>
    				</th>
    				<th>
    				    <a href="<?php echo $this->url('logowanie', array('action' => 'profil', 'id' => $uzytkownik->id)); ?>"><?php echo $uzytkownik; ?></a>
    				</th>
    				<th>
    				    <a href="<?php echo $this->url('logowanie', array('action' => 'profil', 'id' => $uzytkownik->id)); ?>"><?php echo $uzytkownik->mail; ?></a>
    				</th>
    				<th>
					<?php foreach ($uzytkownik->getFirmy() as $firma): ?>
					    <p><a href="<?php echo $this->url('firmy', array('action' => 'szczegoly', 'id' => $firma->id)); ?>"><?php echo $this->translate("GLASSO");?></a></p>
					<?php endforeach; ?>
    				</th>
    			    </tr>
			    <?php endforeach; ?>
			</tbody>
		    </table>
		</div>
	    </div>
	</div><!--/col-->
    </div><!--/row-->
</div>