<div id="content" class="col-lg-10 col-sm-11">
    <div class="row">
	<div class="col-lg-12">
	    <div class="box">
		<div class="box-header" data-original-title>
		    <h2>
			<i class="fa fa-user"></i>
			<span class="break"></span>
			<?php echo $this->translate("Role");?></h2>
		</div>
		<div class="box-content">

		    <table id="roles-table" class="table table-striped table-bordered bootstrap-datatable datatable">
			<thead>
                            <tr>
                                <th><?php echo $this->translate("Id");?></th>
                                <th><?php echo $this->translate("Nazwa");?></th>
                                <th><?php echo $this->translate("Utworzono");?></th>
                                <th><?php echo $this->translate("Ostatnia aktualizacja");?></th>
                                <th></th>
                            </tr>
			</thead>
			<tbody>
			    <?php foreach ($this->role as $rola): ?>
    			    <tr data-role-id="1">
    				<td>
					<?php echo $rola->id; ?>                                    </td>
    				<td>
    				    <a href="http://ggerp.pl/roles/1">
					    <?php echo $rola->nazwa; ?>
    				    </a>
    				</td>
				<!--rgask - czy tak powinno być?-->
    				<td class="center">2014-01-03 10:23:35</td>
    				<td class="center">2014-01-03 10:23:35</td>
    				<td>
    				    <a class="btn btn-primary btn-xs" href="<?php
					echo $this->url("logowanie", array('action' => 'role_uprawnienia', 'id' => $rola->id));
					?>"><?php echo $this->translate("Edycja uprawnień");?></a>
    				    <a class="btn btn-primary btn-xs" href="<?php
					echo $this->url("logowanie", array('action' => 'role_uzytkownicy', 'id' => $rola->id));
					?>"><?php echo $this->translate("Użytkownicy");?></a>
    				</td>
				<?php endforeach; ?>
			    </tr>
			</tbody>
		    </table>
		    <button id="new-role" class="btn btn-primary btn-sm"><?php echo $this->translate("Utwórz role");?></button>
		</div>
	    </div>
	</div><!--/col-->
    </div><!--/row-->
</div>

<div id="new-role-modal" class="modal fade ui-draggable in" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><?php echo $this->translate("Nowa rola");?></h4>
            </div>
	    <form id="nowa_rola_form" action="<?php
	    echo $this->url('logowanie', array('action' => 'nowa_rola'));
	    ?>" method="post">
		<div class="modal-body">
		    <div class="form-group">
			<label><?php echo $this->translate("Nazwa roli");?></label>
			<input type="text" class="form-control" name="nazwa">
		    </div>
		</div>
	    </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate("Wyjdź");?></button>
                <button type="button" class="btn btn-primary"><?php echo $this->translate("Zapisz");?></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<?php
Application\Controller\LadowaczSkryptow::add($this->basePath('js/pages/roles.js'));
