<?php
if (!function_exists('wyswietlKonto')):

    function wyswietlKonto($view = "", $host = "", $user = "", $imap = "", $stmp = "", $host_wy = "",
	    $id = null, $ssl = null) {
	?>
	<div class="pojedyncze_konto">
	    <input type="hidden" name="id[]" class="form-control" value="<?php echo $id; ?>" >

	    <div class="form-group">
		<label class="control-label"><?php echo $view->translate("Adres poczty przychodzącej"); ?></label>
		<input required="true" type="text" name="host[]" class="form-control" value="<?php echo $host; ?>">
	    </div>
	    <div class="form-group">
		<label class="control-label"><?php echo $view->translate("Email"); ?></label>
		<input required="true"  type="text" name="user[]" class="form-control"  value="<?php echo $user; ?>" >
	    </div>
	    <div class="form-group">
		<label><?php echo $view->translate("Hasło"); ?></label>
		<input type="password" name="password[]" class="form-control" >
	    </div>

	    <a href="#" data-toggle="collapse" data-target="#more<?php echo $id; ?>">Opcje zaawansowane</a>
	    <div id="more<?php echo $id; ?>" class="collapse">
		<div class="form-group">
		    <label class="control-label"><?php echo $view->translate("Adres serwera poczty wychodzącej"); ?></label>
		    <input type="text" name="host_wy[]" class="form-control" value="<?php echo $host_wy; ?>" >
		</div>
		<div class="form-group">
		    <label class="control-label"><?php echo $view->translate("Port IMAP"); ?></label>
		    <input type="number" name="imap[]" class="form-control"  value="<?php echo $imap; ?>">
		</div>
		<div class="form-group">
		    <label class="control-label"><?php echo $view->translate("Port STMP"); ?></label>
		    <input type="number" name="stmp[]" class="form-control"  value="<?php echo $stmp; ?>">
		</div>
		<div class="form-group">
		    <label class="control-label"><?php echo $view->translate("Wymuszenie szyfrowania SSL"); ?></label>
		    <input type="checkbox" name="ssl[]" class="form-control"  value="SSL" <?php $view->checked('SSL', $ssl); ?> >
		</div>
	    </div>

	</div>
	<?php
    }

endif;
?>

<div id="content" class="col-sm-12">
    <div>
    </div>
    <div class="row">

	<div class="col-lg-6">
	    <div class="box">
		<div class="box-header" data-original-title="">
		    <h2><span class="break"></span><?php echo $this->translate("Konfiguracja poczty"); ?></h2>
		</div>
		<div class="box-content">

		    <form class="form-horizontal" method="post" action="<?php
echo $this->url('logowanie', array('action' => 'zapisz_konta_mailowe'));
?>">

			<div id="konta_uzytkownika">
			    <?php
			    foreach ($this->uzytkownicy_konta as $konto) {
				wyswietlKonto($this, $konto->konto_mailowe->host, $konto->konto_mailowe->user,
					$konto->konto_mailowe->port_imap, $konto->konto_mailowe->port_stmp,
					$konto->konto_mailowe->host_wychodzacy, $konto->id, $konto->konto_mailowe->ssl);
			    }
			    ?>

			</div>

			<button type="submit" class="btn btn-danger"><?php echo $this->translate("Zapisz"); ?></button>
		    </form>
		</div>
	    </div>

	</div><!--/col-->
	<div class="col-lg-6">
	    <div class="box">
		<div class="box-header" data-original-title="">
		    <h2><span class="break"></span><?php echo $this->translate("Inne ustawienia"); ?></h2>
		</div>
		<div class="box-content">
<?php $this->wyswietlZmianeOdswiezaniaMaili($this); ?>
		</div>
	    </div>
	</div>
    </div><!--/row-->
</div>

<div id="szablon_kont" class="hidden">
    <div>
<?php wyswietlKonto($this); ?>
    </div>
</div>
<?php
\Application\Controller\LadowaczSkryptow::add($this->basePath('js/pastmo/emaile/dodaj_konto_mailowe.js'));