<div id="parametry_modala" data-title="<?php echo $this->translate("Logowanie"); ?>">
    <?php
    echo $this->partial('logowanie/logowanie/logowanie.phtml',
	    ['login_form' => $login_form,
	    'typ' => 'logowanie',
	    'siteKey' => $siteKey]);

    echo $this->partial('logowanie/logowanie/reset_hasla_formularz.phtml',
	    ['ukryty' => true, 'siteKey' => $siteKey]);
    ?>
    <div class="text-center">
	<a href="<?php echo $this->url('logowanie', ['action' => 'rejestracja']); ?>">Rejestracja</a>
    </div>
</div>
<?php
Application\Controller\LadowaczSkryptow::add($this->basePath('js/logowanie/wyswietl_okno_logowania.js'),
	'OknoLogowania');
Application\Controller\LadowaczSkryptow::add($this->basePath('js/logowanie/logowanie.js'), 'OknoLogowania');
