<?php
echo $this->doctype();
?>
<html lang="pl" class="
<?php echo $this->zalogowanyUser() ? "zalogowany_uzytkownik" : "niezalogowany_uzytkownik"; ?>
<?php echo $this->czyOplaconeKonto() ? " oplacone_konto" : ""; ?>
      ">

    <head>
	<?php echo $this->wyswietlGoogleAnalizy(); ?>
	<?php $url=$this->url('home', array(), array('force_canonical' => true));?>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Pastmo">
	<meta property="og:url" content="<?php echo $url; ?>">
	<meta property="og:type" content="application">
	<meta property="og:image" content="<?php echo $url.'img/podejmijdecyzje.png'; ?>">
	<meta property="og:title" content="Podejmij decyzję">
	<meta property="og:description" content="Pomożemy Ci podjąć decyzję!">

	<title>Podejmij decyzję</title>

	<?php echo $this->partial('layout/style.phtml'); ?>
	<?php echo $this->partial('layout/skrypt_smartlook.phtml'); ?>

    </head>

    <body id="page-top" class="bialy_szablon">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
	    <div class="container">
		<a class="navbar-brand js-scroll-trigger" href="<?php echo $this->url('home'); ?>">
		     <img src="<?php echo $this->basePath('img/logo_waskie_56.png'); ?>">
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		    Menu
		    <i class="fa fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
		    <ul class="navbar-nav ml-auto">
			<li class="nav-item dla_niezalogowanego">
			    <a class="nav-link js-scroll-trigger wyswietlanie_okna_logowania" href="<?php echo $this->url('logowanie'); ?>">Logowanie</a>
			</li>
			<li class="nav-item dla_niezalogowanego">
			    <a class="nav-link js-scroll-trigger" href="<?php echo $this->url('logowanie',
		['action' => 'rejestracja']); ?>">Rejestracja</a>
			</li>
			<li class="nav-item dla_zalogowanego">
			    <a class="nav-link js-scroll-trigger" href="<?php echo $this->url('decyzje', ['action' => 'decyzje']); ?>">Twoje decyzje</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link js-scroll-trigger" href="<?php echo $this->url('home');?>#cennik">Cennik</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link js-scroll-trigger" href="#contact">Kontakt</a>
			</li>
			<li class="nav-item dla_zalogowanego">
			    <a class="nav-link js-scroll-trigger" href="<?php
			       echo $this->url('logowanie', ['action' => 'logout']);
			       ?>">Wyloguj</a>
			</li>



		    </ul>
		</div>
	    </div>
	</nav>

<?php echo $this->content; ?>

	<footer>
	    <div class="container">
		<p>&copy; Pastmo 2018</p>
		<ul class="list-inline">
		    <li class="list-inline-item">
			<a href="<?php echo $this->url('logowanie', ['action' => 'polityka_prywatnosci']); ?>">
			    Polityka Prywatności</a>

		    </li>
		    <li class="list-inline-item">
			<a href="<?php echo $this->url('logowanie', ['action' => 'regulamin']); ?>">Regulamin</a>
		    </li>

		</ul>
	    </div>
	</footer>
<?php echo $this->partial('layout/skrypty_js.phtml'); ?>
    </body>

</html>
