
<?php
echo $this->doctype();

use Application\Controller\LadowaczSkryptow;
?>

<html>

    <head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Podejmij decyzję!</title>

	<?php LadowaczSkryptow::wyswietlCssy(); ?>

	<script>
<?php
$homeUrl = $this->url('home', array(), array('force_canonical' => true));
$odswiezanieJs = $this->pobierzUstawienie(\Pastmo\Wspolne\Enumy\KodyUstawienSystemu::ODSWIEZANIE_W_JS, 10000);
$uprawnienia = $this->pobierzUprawnieniaRoli();
$szerokoscEkranu = $this->getSzerokoscEkranu();
?>
	    var home_url = '<?php echo $homeUrl; ?>';
	    var odswiezanieJs = '<?php echo $odswiezanieJs; ?>';
	    var szerokoscEkranu = <?php echo $szerokoscEkranu ? $szerokoscEkranu : 'undefined'; ?>;
	    var uprawnienia = <?php
echo json_encode(\Pastmo\Wspolne\Utils\ArrayUtil::przerobNaTabliceWartosci($uprawnienia, 'kod'));
?>;
        </script>

    </head>

    <body >
	<div>tresc</div>
	<?php echo $this->content; ?>

	<?php
	echo $this->inlineScript();

	LadowaczSkryptow::wyswietl();
	?>

    </body>
</html>

