<div id="ciacho_komunikat" class="ukryte">
    <div>Wiemy, to strasznie nudne, że na każdej stronie odwiedzający muszą czytać, że strona korzysta z ciastek.. ale niestety prawo jest prawem i my również musimy Ci o tym powiedzieć. Strona ta korzysta z ciastek. Jeśli potwierdzisz, że to rozumiesz, to postaramy się więcej Ci o tym nie pisać :)</div>
    <button id="zamykanie_ciastek" class="btn pull-right ciastka_info">Rozumiem</button>
</div>

<script>
<?php $homeUrl = $this->url('home', array(), array('force_canonical' => true)); ?>
    var home_url = '<?php echo $homeUrl; ?>';
</script>

<!-- Bootstrap core JavaScript -->
<script src="<?php echo $this->basePath('lib/jquery/jquery.min.js'); ?>"></script>
<script src="<?php echo $this->basePath('bower_components/js-cookie/src/js.cookie.js'); ?>"></script>
<script src="<?php echo $this->basePath('bower_components/jquery-validation/dist/jquery.validate.min.js'); ?>"></script>
<script src="<?php echo $this->basePath('bower_components/jquery-validation/src/localization/messages_pl.js'); ?>"></script>
<script src="<?php echo $this->basePath('lib/bootstrap/js/bootstrap.bundle.min.js'); ?>"></script>
<script src="<?php echo $this->basePath('lib/jquery-easing/jquery.easing.min.js'); ?>"></script>
<script src="<?php echo $this->basePath('lib/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js'); ?>"></script>
<script src="<?php echo $this->basePath('lib/bootbox/bootbox.min.js'); ?>"></script>

<script src="<?php echo $this->basePath('js/pastmo/pastmo.js'); ?>"></script>
<script src="<?php echo $this->basePath('js/pastmo/wyswietlanie_modali.js'); ?>"></script>
<script src="<?php echo $this->basePath('js/pastmo/wyzwalacz.js'); ?>"></script>
<script src="<?php echo $this->basePath('js/helpery/aktywacja_modali.js'); ?>"></script>
<script src="<?php echo $this->basePath('js/new-age.min.js'); ?>"></script>
<script src="<?php echo $this->basePath('js/podejmij-decyzje.js'); ?>"></script>
<script src="<?php echo $this->basePath('js/pastmo/ekran.js'); ?>"></script>
<script src="<?php echo $this->basePath('js/aplikacja_adapter.js'); ?>"></script>
<script src="<?php echo $this->basePath('js/chowanie_wierszy_w_tabeli.js'); ?>"></script>
<script src="<?php echo $this->basePath('js/pastmo/info_ciastka.js'); ?>"></script>
<script src="<?php echo $this->basePath('js/pastmo/captcha_submit.js'); ?>"></script>
<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>

<?php \Application\Controller\LadowaczSkryptow::wyswietl(); ?>