<link rel="icon" href="<?php echo $this->basePath('img/favicon.ico?v3');?>">
<!-- Bootstrap core CSS -->
<link href="<?php echo $this->basePath('lib/bootstrap/css/bootstrap.min.css'); ?>" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="<?php echo $this->basePath('lib/font-awesome/css/font-awesome.min.css'); ?>" rel="stylesheet">
<link href="<?php echo $this->basePath('lib/simple-line-icons/css/simple-line-icons.css'); ?>" rel="stylesheet">
<link href="<?php echo $this->basePath('lib/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css'); ?>" rel="stylesheet" rel="stylesheet" >
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
<link href="<?php echo $this->basePath('bower_components/Ionicons/css/ionicons.min.css'); ?>" rel="stylesheet" type="text/css">

<!-- Plugin CSS -->
<link href="<?php echo $this->basePath('device-mockups/device-mockups.min.css'); ?>" rel="stylesheet" >

<!-- Custom styles for this template -->
<link href="" rel="stylesheet">
<link href="<?php echo $this->basePath('css/style_bialy.css'); ?>" rel="stylesheet">
