<!DOCTYPE html>
<html>
    <head>
	<title>Rejestracja-PODEJMIJ DECYZJĘ</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE7">
	<link type="text/css" rel="stylesheet" href="v=Q3a2FTg/themes/netart/css/iframe.css">
	</head>
	<body marginwidth="0" marginheight="0" class="colored-quotes" style="margin: 0.5em;">
	<div>
	<table class="body" style="background-color: #e3e3e3; border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; width: 100%; color: #0e182c; font-family: Arial, sans-serif; font-weight: normal; line-height: 2; font-size: 14px; background: #e3e3e3; margin: 0; padding: 0;" bgcolor="#f3f3f3">
		<tbody>
		    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
			<td class="float-center" align="center" valign="top" style="word-wrap: break-word; border-collapse: collapse; vertical-align: top; text-align: center; float: none; color: #0e182c; font-family: Arial, sans-serif; font-weight: normal; line-height: 2; font-size: 14px; margin: 0 auto; padding: 39px;">
		<center style="width: 100%; min-width: 580px;">

		    <table align="center" class="container float-center" style="background-color: #fefefe; border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 800px; float: none; background: #fefefe; margin: 0 auto; padding: 39px;" bgcolor="#fefefe">
			<tbody>
			    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
				<td style="word-wrap: break-word; border-collapse: collapse; vertical-align: top; text-align: left; color: #0e182c; font-family: Arial, sans-serif; font-weight: normal; line-height: 2; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top">

				    <table class="callout" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; margin-bottom: 16px; margin-left: 40px; margin-right: 40px; padding: 0;">
					<tbody>
					    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
						<th class="small-12 large-6 columns first last" style="width: 274px; color: #0e182c; font-family: Arial, sans-serif; font-weight: normal; text-align: left; line-height: 2; font-size: 14px; margin: 0 auto; padding: 25px 16px 15px 0;" align="left">
						    <img src="<?php echo $this->serverUrl($this->basePath('/img/logo.png')); ?>" id="big_logo.png" onmousedown="return false;" oncontextmenu="return false;" width="150px" height="50px" alt="podejmijdecyzje-logo" style="text-decoration: none; width: auto; max-width: 100%; clear: both; display: block; margin-bottom: 5px;"></th>

					    </tr>
					    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
						<th class="small-12 large-12 columns first" style="width: 675px; color: #0e182c; font-family: Arial, sans-serif; font-weight: normal; text-align: left; line-height: 2; font-size: 14px; margin: 0 auto; padding: 25px 8px 15px 0;" align="left">

						    <?php echo $this->content; ?>

						</th>
					    </tr>

					</tbody>
				    </table>

				    <table class="callout small-12 large-12" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; margin-bottom: 16px; margin-left: 40px; margin-right: 40px; width: 720px; padding: 0;">
					<tbody>
					    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
						<th class="small-12 large-12 footer columns first" style="width: 675px; color: #0e182c; font-family: Arial, sans-serif; font-weight: normal; text-align: left; line-height: 2; font-size: 14px; margin: 0 auto; padding: 25px 8px 15px 0;" align="left">
						    <h4 style="color: #e27c00; font-family: Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">Pozdrawiamy,</h4>
						    <h4 style="color: #e27c00; font-family: Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left"><b>Pastmo</b></h4> </th>
					    </tr>
					</tbody>
				    </table>
				    <table class="row footer text-center" style="background-color: #e3e3e3; border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 100%; position: relative; display: table; background: #e3e3e3; padding: 0;" bgcolor="#f3f3f3">
					<tbody>
					    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">


						<th class="small-12 large-3 columns last" style="width: 129px; color: #0e182c; font-family: Arial, sans-serif; font-weight: normal; text-align: left; line-height: 2; font-size: 14px; margin: 0 auto; padding: 25px 16px 15px 8px;" align="left">
						    <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
							<tbody>
							    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
								 </tr>
							</tbody>
						    </table>
						</th>
					    </tr>
					</tbody>
				    </table>
				</td>
			    </tr>
			</tbody>
		    </table>
		</center>
		</td>
		</tr>
		</tbody>
	    </table>
	    </body>
</html>