<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
	    <div class="col-lg-12 ">
		<div class="header-content opis">
		    <h1 class="mb-5">Twoje decyzje</h1>
		    <h4 class="">Tutaj znajdziesz wszystkie decyzje, które podjąłeś. </h4>
		</div>
	    </div>


	    <div class="col-lg-12 ibox-content">

		<table class="footable table table-stripped toggle-arrow-tiny">

		    <tbody>

			<?php foreach ($decyzje as $klucz => $decyzja): ?>
			<tr class="tytul_decyzji" data-id="<?php echo $decyzja->id;?>">
			    <td><?php echo $klucz+1; ?></td>
			    <td><?php echo $decyzja->nazwa;?></td>
			    <td> <button class="btn btn-outline btn-xl js-scroll-trigger decyzja-<?php echo $decyzja->wynik;?> decyzja-historia "><?php echo $decyzja->wynik;?></button>	</td>
			    <td><?php echo Wspolne\Utils\StrUtil::drukujSamaDate( $decyzja->data_dodania);?></td>
			    <td class="opcje edycja"><a href="<?php echo $this->url('decyzje',['action'=>'index','id'=>$decyzja->id]);?>">Edycja <i class="fa fa-pencil"></i></a></td>
			    <td class="opcje szczegoly">Szczegóły <i class="fa fa-caret-down"></i></td>
			    <td class="opcje ankieta ukryty">Ankieta <i class="fa fa-question"></i></td>


			</tr>
			<tr class="ukryty">
			</tr>

			<?php endforeach; ?>

		    </tbody>
		    <tfoot class="ukryty">
			<tr>
			    <td colspan="5">
				<ul class="pagination pull-right ukryty"></ul>
			    </td>
			</tr>
		    </tfoot>
		</table>

	    </div>






        </div>
    </div>
</header>

<section class="contact  bg-primary" id="contact">
    <div class="container">
        <h2>Odwiedź nas!</h2>
        <ul class="list-inline list-social">
	    <li class="list-inline-item social-twitter">
		<a href="#">
		    <i class="fa fa-twitter"></i>
		</a>
	    </li>
	    <li class="list-inline-item social-facebook">
		<a href="#">
		    <i class="fa fa-facebook"></i>
		</a>
	    </li>
	    <li class="list-inline-item social-google-plus">
		<a href="#">
		    <i class="fa fa-google-plus"></i>
		</a>
	    </li>
        </ul>
    </div>

   
</section>

<section class="contact bg-primary" id="contact">
    
    <?php echo $this->stronaKontaktu(); ?>
</section>

<section class="download bg-primary text-center ukryty" id="download">
    <div class="container">
        <div class="row">
	    <div class="col-md-8 mx-auto">
		<h2 class="section-heading">Odkryj nowe możliwości!</h2>
		<p>Zainstaluj apkę i podejmuj decyzje gdzie i kiedy chcesz!</p>
		<div class="badges">
		    <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
		    <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
		</div>
	    </div>
        </div>
    </div>
</section>

<?php
Application\Controller\LadowaczSkryptow::add($this->basePath('js/decyzje/decyzje_archiwum.js'));
