<td colspan="7">
    <div class="row decyzja-szczeoly col-lg-12">
	<div class="col-lg-6 my-auto ">

	    <div class="header-content pole1 mx-auto">

		<div class="row ">
		    <div class="col-lg-12 opis2 "><h3 class="">TAK</h3></div>
		</div>
		<?php
		$plusy = $decyzja->getDecyzjePlus();
		foreach ($plusy as $plus):
		    ?>
    		<div class="row podkreslenie">
    		    <div class="col-lg-11 tekst-lewy"><?php echo $plus->opis; ?></div>
    		    <div class="col-lg-1 tekst-prawy "><?php echo $plus->wartosc; ?></div>
    		</div>

		<?php endforeach; ?>


	    </div>
	</div>
	<div class="col-lg-6 my-auto ">

	    <div class="header-content pole1 mx-auto">

		<div class="row ">
		    <div class="col-lg-12 opis2 "><h3 class="">NIE</h3></div>
		</div>

		<?php
		$minusy = $decyzja->getDecyzjeMinus();
		foreach ($minusy as $minus):
		    ?>
    		<div class="row podkreslenie">
    		    <div class="col-lg-11 tekst-lewy"><?php echo $minus->opis; ?></div>
    		    <div class="col-lg-1 tekst-prawy "><?php echo $minus->wartosc; ?></div>
    		</div>

		<?php endforeach; ?>

	    </div>
	</div>
    </div>
</td>
