<header id="decyzje_kontener" class="masthead" data-msg="<?php echo $this->msg;?>">
    <div class="container h-100">
        <div class="row h-100">

	    <div class="col-lg-12 ">
		<div class="header-content opis">
		    <h1 class="mb-5">POMOŻEMY CI PODJĄĆ DECYZJĘ</h1>
		    <h4 class="">Poniżej wpisz argumenty na "tak" i na "nie" oraz podaj jak ważne są dla Ciebie w skali od 1 do 10</h4>
		</div>
	    </div>

	    <form id="formularz_decyzji" class="row col-lg-12">
		<input id="id" type="hidden" name="id" value="<?php echo $decyzja->id; ?>">
		<input id="nazwa" type="hidden" name="nazwa" value="<?php echo $decyzja->nazwa; ?>">
		<div  id="argumenty_plus" class="col-lg-6 my-auto ">
		    <div class="col-lg-6 opis2 taknie "><h1 class="">TAK</h1></div>
		    <div class="header-content pole1 mx-auto">
			<div id="_p">
			    <?php
			    $decyzjeSzczegoly = $decyzja->getDecyzjePlusRozszerzone();

			    foreach ($decyzjeSzczegoly as $selektor => $szczegol):
				echo $this->partial('decyzje/decyzje/wiersz_formularza_decyzji.phtml',
					['selektor' => $selektor, 'opis' => $szczegol->opis, 'wartosc' => $szczegol->wartosc,
					'klasaWagi' => 'waga_plus', 'szablon' => false]);
			    endforeach;
			    ?>
			</div>
			<div class="row col-lg-12 dla_oplaconego_konta">
			    <a href="#" class="dodaj_argumenty " data-typ="_p"  data-klasa_wagi="waga_plus"><i class="fa fa-plus m-auto text-primary"></i> dodaj nowy argument</a>

			</div>

		    </div>

		</div>


		<div  id="argumenty_minus" class="col-lg-6 my-auto ">
		    <div class="col-lg-6 opis2 taknie"><h1 class="">NIE</h1></div>
		    <div class="header-content pole1 mx-auto">
			<div id="_m">

			    <?php
			    $decyzjeSzczegoly = $decyzja->getDecyzjeMinusRozszerzone();

			    foreach ($decyzjeSzczegoly as $selektor => $szczegol):

				echo $this->partial('decyzje/decyzje/wiersz_formularza_decyzji.phtml',
					['selektor' => $selektor, 'opis' => $szczegol->opis, 'wartosc' => $szczegol->wartosc,
					'klasaWagi' => 'waga_minus', 'szablon' => false]);

			    endforeach;
			    ?>
			</div>
			<div class="row col-lg-12 dla_oplaconego_konta">
			    <a href="#" class="dodaj_argumenty" data-typ="_m" data-klasa_wagi="waga_minus"><i class="fa fa-plus m-auto text-primary"></i> dodaj nowy argument</a>
			</div>

		    </div>

		</div>

	    </form>

	    <div id="template_wiersz" class="ukryty">
		<?php
		echo $this->partial('decyzje/decyzje/wiersz_formularza_decyzji.phtml',
			['selektor' => "", 'opis' => "", 'wartosc' => "", 'klasaWagi' => '', 'szablon' => true]);
		?>
	    </div>

	    <div class="row col-lg-12 przed_obliczeniem">
		<button type="button" class="btn btn-outline btn-xl js-scroll-trigger decyzja przycisk_liczenia_decyzji">PODEJMIJ DECYZJĘ</button>
	    </div>

	    <div id="rownowaga" class="row col-lg-12 werdykt">
		<div class="header-content opis2">
		    <h5 class="rownowaga">Twoje argumenty są w równowadze, nie można podjąć decyzji. Przemyśl swój problem jeszcze raz i spróbuj znaleźć kolejne argumenty lub zmień wagę aktualnych.</h5>
		    <div class=" col-lg-12">
			<h4 class="zapisz_decyzje">
			    <a href="#" >Zapisz decyzję</a>
			</h4>
		    </div>
		</div>
	    </div>
	    <div id="dostepna_decyzja" class="row col-lg-12 werdykt">
		<div class=" col-lg-5 opis2">
		    <h3 class="opis3">Twoja decyzja <i class="fa fa-arrow-right"></i></h3>
		</div>
		<div class=" col-lg-2 takczynie">
		    <button class="btn btn-outline btn-xl js-scroll-trigger decyzja-nie werdykt">NIE</button>
		    <button class="btn btn-outline btn-xl js-scroll-trigger decyzja-tak werdykt">TAK</button>
		</div>
		<div class=" col-lg-5 header-content opis2">
		    <h4 class="zapisz_decyzje">
			<a href="#" >Zapisz decyzję</a>
		    </h4>
		</div>
	    </div>

	    <div class="row col-lg-12 po_pierwszym_wywolaniu">
		<div class="header-content opis2">
		    <h5 class="">Twoja decyzja została wyliczona na podstawie wagi Twoich argumentów</h5>
		</div>
	    </div>

	    <div class="row col-lg-12 po_pierwszym_wywolaniu">
		<button class="btn btn-outline btn-xl js-scroll-trigger decyzja przycisk_liczenia_decyzji">Przelicz ponownie  </button>
	    </div>

	    <div class="row col-lg-12 dla_niezalogowanego">
		<div class="header-content opis2">
		    <h5 class="">Jeśli chcesz zapisywać swoje decyzje, aby móc je później zweryfikować lub dodać więcej argumentów
			<a class="logowanie_style wyswietlanie_okna_logowania" href="<?php
			echo $this->url('logowanie', ['action' => 'logowanie']);
			?>">ZALOGUJ SIĘ</a>
			lub
			<a class="rejestracja_style" href="<?php
			echo $this->url('logowanie', ['action' => 'rejestracja']);
			?>">ZAREJESTRUJ</a>
		    </h5>
		</div>
	    </div>

	</div>
    </div>
</header>

<?php
echo $this->partial('application/index/cennik.phtml');
?>

<section class="contact social bg-primary" id="contact">
    <div class="container">
        <h2>Odwiedź nas!</h2>
        <ul class="list-inline list-social">
	    <li class="list-inline-item social-twitter" style="display: none">
		<a href="#">
		    <i class="fa fa-twitter"></i>
		</a>
	    </li>
	    <li class="list-inline-item social-facebook">
		<a  target="_blank" href="https://www.facebook.com/Podejmij-decyzję-357028654812602">
		    <i class="fa fa-facebook"></i>
		</a>
	    </li>
	    <li class="list-inline-item social-google-plus" style="display: none">
		<a href="#">
		    <i class="fa fa-google-plus"></i>
		</a>
	    </li>
        </ul>
    </div>


</section>

<section class="contact bg-primary" id="contact">

    <?php echo $this->stronaKontaktu(); ?>
</section>

<section class="download bg-primary text-center ukryty" id="download">
    <div class="container">
        <div class="row">
	    <div class="col-md-8 mx-auto">
		<h2 class="section-heading">Odkryj nowe możliwości!</h2>
		<p>Zainstaluj apkę i podejmuj decyzje gdzie i kiedy chcesz!</p>
		<div class="badges">
		    <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
		    <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
		</div>
	    </div>
        </div>
    </div>
</section>

<div id="szablon_podawania_nazwy" class="ukryty">
    <div cass="col-12">
	<div class="col-12">Podaj nazwę decyzji</div>
	<div class="col-12"><input type="text" class="nazwa form-control"></div>
	<div class="col-12"><button class="btn decyzja potwierdzenie_zapisu">Zapisz</button></div>
    </div>
</div>


<?php
Application\Controller\LadowaczSkryptow::add($this->basePath('js/decyzje/decyzje.js'));
