<div class="row">
    <div class="col-lg-9 col-md-9 form-group">
	<input type="text"  name="opis<?php echo $selektor; ?>" placeholder="argument"  value="<?php echo $opis; ?>" class="form-control opis_decyzji">
    </div>
    <div class="col-lg-3 col-md-3 col-6 form-group waga">
	<input type="number" min="1" max="10"  placeholder="1-10" inputmode="numeric"
	       name="waga<?php echo $selektor; ?>" value="<?php echo $wartosc; ?>"  class="form-control waga_decyzji <?php echo $klasaWagi;?> <?php echo $this->szablon?"":"bez_touchspin";?>">
    </div>
</div>
