<div class="container">

    <h2 >Lub napisz maila :)</h2>
    <div class="row">
	<div id="kontener_kontaktu" class="col-lg-12">
	    <div id="msg"></div>
	    <form id="kontakt-form" name="sentMessage" novalidate="" method="POST" data-url="<?php
	    echo $this->url('kontakt_ajax', ['action' => 'zapisz_kontakt']);
	    ?>">
		<div class="row">
		    <div class="col-md-6">
			<div class="form-group">
			    <input   maxlength="50" class="form-control" id="name" type="text" name="imie" placeholder="Imię *" required="" data-validation-required-message="Napisz swoje imię">
			    <p class="help-block text-danger"></p>
			</div>
			<div class="form-group">
			    <input  maxlength="50" class="form-control" name="email" id="email" type="email" placeholder="Aders email *" required="" data-validation-required-message="Napisz swój adres email">
			    <p class="help-block text-danger"></p>
			</div>

		    </div>
		    <div class="col-md-6">
			<div class="form-group wiadomosc">
			    <textarea maxlength="2000" class="form-control" id="message" name="tresc" placeholder="Wiadomość *" required="" data-validation-required-message="Napisz wiadomość"></textarea>
			    <p class="help-block text-danger"></p>
			</div>
		    </div>
		    <div class="zgody_przetwarzanie col-lg-9"><input type="checkbox" name="zgoda_przetwarzanie" required="" value="1"> Wyrażam zgodę na przetwarzanie moich danych osobowych zawartych w powyższym formularzu zgodnie z ustawą o ochronie danych osobowych w celu odpowiedzi na wysłaną wiadomość. Administratorem danych osobowych jest Pastmo Monika Rymsza Paweł Rymsza spółka cywilna.</div>
		    <div class="zgody_przetwarzanie col-lg-9"><input type="checkbox" name="zgoda_przetwarzanie_marketingowe" value="1"> Wyrażam zgodę na przetwarzanie moich danych osobowych podanych w powyższym formularzu w celach handlowych i marketingowych przez Pastmo Monika Rymsza Paweł Rymsza spółka cywilna.</div>

		    <div class="col-lg-12 text-center">
			<div  class="g-recaptcha" id="kontakt_submit"
			      data-sitekey="<?php echo $this->siteKey; ?>"
			      data-funkcja_obslugi="kontaktSubmit"
			      data-size="normal">
			</div>
		    </div>
		    <div class="col-lg-12 text-center">
			<div id="success"></div>
			<div id="miejsce_na_loader"></div>
			<button id="wysylanie_kontaktu" class="btn btn-primary btn-xl text-uppercase decyzja ">Wyślij</button>

		    </div>
		</div>

	    </form>
	</div>
    </div>
</div>
<?php \Application\Controller\LadowaczSkryptow::add($this->basePath('js/kontakt/kontakt_submit.js')); ?>