/*
*info_ciastka.less
*/

#ciacho_komunikat{
    position: fixed;
    bottom: 20px;
    background: white;
    border: 1px solid;
    border-color: gray;
    box-shadow: 0px 0px 10px 2px grey;
    border-radius: 4px;
    padding: 10px;
    margin: 0px 30px;
    width: 600px;
    right: 1px;
    z-index: 1000;

    &.ukryte{
	display: none;
    }
}
.ciastka_info{

    text-align: center;
    background: #e27c00;
    border-color: #e27c00;
    font-size: 12px;
    color: white;
}
