@glowny_kolor:#fcd315;
@rozjasnienie:#111111;
@jasny_glowny_kolor:#ffffaa;

@kolorPaskaGornego:#fff;
@kolorBocznegoMenu:#000;

@szary:#d9dce1;
@szary_czcionka:#777;

.ustaw_kolor_przycisku(){

    .ustaw_kolor_ramki();
    background-color:  @glowny_kolor;
    color: #fff;

    &:hover {
	background-color: @glowny_kolor+@rozjasnienie;
	color: #fff;
    }
    &:focus {
	background-color: @glowny_kolor+@rozjasnienie;
	color: #fff;
    }
    &:active {
	background-color: @glowny_kolor+@rozjasnienie !important;
	color: #fff;
    }

}

.ustaw_kolor_ramki(){
    border-color: @glowny_kolor;
      &:hover {
	border-color: @glowny_kolor;
    }
    &:focus {
	border-color: @glowny_kolor;
    }
}