/*
podejmij_decyzje.less
*/

.niezalogowany_uzytkownik .dla_zalogowanego {
    display: none;
}

.zalogowany_uzytkownik .dla_niezalogowanego {
    display: none;
}


.bootbox .grecaptcha-badge{
    display: none;
}