<section class="contact bg-primary" id="cennik">
      <div class="container">
	   <h2>Roczny abonament to jedyne 5 zł</h2>
        <div class="row">
			<div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="ion-ios-plus-empty ikona m-auto text-primary"></i>
              </div>
              <h3>Dodawaj!</h3>
              <p class="lead mb-0">Potrzebujesz większej ilości argumentów, aby podjąć decyzję? Wpisuj ich ile chcesz</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class=" ion-ios-checkmark-empty  ikona m-auto text-primary"></i>
              </div>
              <h3>Zapisuj!</h3>
              <p class="lead mb-0">Zapisuj swoje decyzje, aby później móc zweryfikować, czy były dobre</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="ion-ios-compose-outline ikona m-auto text-primary"></i>
              </div>
              <h3>Edytuj!</h3>
              <p class="lead mb-0">Jeśli pojawiły sie nowe okoliczności, możesz zmienić wagę swoich argumentów lub dodać kolejne i podjać decyzję na nowo</p>
            </div>
          </div>
          <div class="col-lg-3 ukryty">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fa fa-question ikona m-auto text-primary"></i>
              </div>
              <h3>Sprawdzaj!</h3>
              <p class="lead mb-0">Wypełnij krótką ankietę aby </p>
            </div>
          </div>
        </div>
      </div>
    </section>
